
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>柠檬网联 Admin - 设备配置</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="http://r.magicwifi.com.cn/v3/assets/magicwifi-admin/core/img/favicon.ico">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/select2/select2.min.css">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/css/AdminLTE.min.css">
<!--<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/css/skins/_all-skins.min.css">-->
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/css/skins/skin-purple.min.css">
<!--<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/css/skins/skin-blue.min.css">-->
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/iCheck/minimal/blue.css">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/artDialog/css/ui-dialog.css">
<!--[if lt IE 9]>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/js/html5shiv.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/js/respond.min.js"></script>
<![endif]-->
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/validation/jquery.validate.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/artDialog/js/dialog-min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/bootstrap/js/bootstrap.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

	<meta name="module" content="device_list" />
	<script src="http://r.magicwifi.com.cn/v3/assets/vender/clipboard/clipboard.min.js"></script>

</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">

<header class="main-header">
    <!-- Logo -->
    <a href="/v3/core/index" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>M</b>WF</span>
        <!--<span class="logo-mini"><img src="http://r.magicwifi.com.cn/v3/assets/magicwifi-admin/core/img/logo.png" height="30px"/></span>-->
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><!--<img src="http://r.magicwifi.com.cn/v3/assets/magicwifi-admin/core/img/logo.png" height="30px"/>--><b>Magic</b>WiFi</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav ">
                <li class="dropdown messages-menu">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
	                  <i class="fa fa-envelope-o"></i>
	                  <span class="label label-success unReadTotal"></span>
	                </a>
	                <ul class="dropdown-menu">
	                  <li class="header">你有<span class="unReadTotal"></span>条未读消息</li>
	                  <li>
	                    <!-- inner menu: contains the actual data -->
	                    <ul class="menu" id="ul">
	                    </ul>
	                  </li>
	                  <li class="footer"><a href="/v3/core/oss_message/v_list?box=0">查看全部</a></li>
	                </ul>
	              </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/img/avatar4.png" class="user-image" alt="User Image">
                        <!--<i class="ion ion-person"></i>-->
                        <span class="hidden-xs">richard.qian</span>
                        <em class="glyphicon glyphicon-chevron-down"></em>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/img/avatar4.png" class="img-circle" alt="User Image">
                            <p>
richard.qian                                <small>richard.qian@magicwifi.com.cn</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/v3/core/personal/v_edit?modelName=edit" class="btn btn-default btn-flat">个人资料</a>
                            </div>
                            <div class="pull-right">
                                <a href="/v3/core/logout" class="btn btn-default btn-flat">退出登录</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--<li><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a></li>-->
            </ul>
        </div>
    </nav>
</header>
<script type="text/javascript">
	//$(function(){
	//	messageUnRead();
	//});
	function messageUnRead(){
		$.getJSON("/v3/core/oss_message/v_list_un_read/" + 267, function(data) {
			$(".unReadTotal").text(data.unReadTotal);
			// 组织未读消息列表
            var unReadList = data.unReadList;
            var ul = $("#ul").html("");
            for(var i=0;i<unReadList.length;i++){
        		var li = "<li>"+
            	"<a href='/v3/core/oss_message/v_view?id="+unReadList[i].id+"&box="+unReadList[i].box+"'>"+
            	"<h4 style='margin: 0 0 0 15px;'>"+unReadList[i].senderName+"<small style='padding-right:10px;'><i class='fa fa-clock-o' style='padding-right:3px;'></i> "+unReadList[i].intervalTime+"</small></h4>"+
            	"<p style='margin: 0 0 0 15px;'>"+unReadList[i].title+"</p>"+
            	"</a></li>";
            	ul.append(li);
            }
        });
	}
</script><aside class="main-sidebar">
	{{template "sidebar1" .}}
</aside>    <div class="content-wrapper">
    
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>设备配置<small>Control panel</small></h1>
		<ol class="breadcrumb">
			<li><a href="/v3/core/index"><i class="fa fa-dashboard"></i>首页</a></li>
			<li class="active">设备</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="nav-tabs-custom">
<div class="row" >
    	<div class="col-lg-12 col-sm-12 col-xs-12" style="text-align:center">
	        <div class="panel box" style="padding: 3px;border-top: 0;box-shadow: 0 3px 3px rgba(0,0,0,0.1);margin-bottom: 5px;">
                        <a type="button" class="btn btn-primary btn-flat" href="o_read_cfg?id={{.Device.Id}}&modelName={{.Name}}">获取配置</a>
	            <button type="button" class="add btn btn-primary btn-flat" onclick="restartDevice({{.Device.Id}});">重启设备</button>
	        </div>
	    </div>
</div>
<ul class="nav nav-tabs">
	{{if eq .Name "list_edit"}}
    	<li class="active"><a href="#tab_1">基本信息</a></li>
	{{else}}
	 	<li><a href="v_edit_cfg?id={{.Device.Id}}&modelName=list_edit&pageNo=&queryProjectName=&queryMac=&queryMaterielId=&queryOnlineStatus=&queryStatus=&queryDeviceName=&queryVersionId=&entrance=v_list">基本信息</a></li>
	{{end}}
	
	{{if eq .Name "list_cloud"}}
		<li class="active"><a href="#tab_1">云配置</a></li>
	{{else}}
	<li><a href="v_edit_cfg?id={{.Device.Id}}&modelName=list_cloud&pageNo=&queryProjectName=&queryMac=&queryMaterielId=&queryOnlineStatus=&queryStatus=&queryDeviceName=&queryVersionId=&entrance=v_list">云配置</a></li>
	{{end}}
    
    
	{{if eq .Name "list_wan"}}
		<li class="active"><a href="#tab_1">WAN口配置</a></li>
	{{else}}
	<li><a href="v_edit_cfg?id={{.Device.Id}}&modelName=list_wan&pageNo=&queryProjectName=&queryMac=&queryMaterielId=&queryOnlineStatus=&queryStatus=&queryDeviceName=&queryVersionId=&entrance=v_list">WAN口配置</a></li>
	{{end}}
	
    
	{{if eq .Name "list_lan"}}
		<li class="active"><a href="#tab_1">LAN口配置</a></li>
	{{else}}
	<li><a href="v_edit_cfg?id={{.Device.Id}}&modelName=list_lan&pageNo=&queryProjectName=&queryMac=&queryMaterielId=&queryOnlineStatus=&queryStatus=&queryDeviceName=&queryVersionId=&entrance=v_list">LAN口配置</a></li>
	{{end}}
	
    
	{{if eq .Name "list_dhcp"}}
		<li class="active"><a href="#tab_1">DHCP配置</a></li>
	{{else}}
	<li><a href="v_edit_cfg?id={{.Device.Id}}&modelName=list_dhcp&pageNo=&queryProjectName=&queryMac=&queryMaterielId=&queryOnlineStatus=&queryStatus=&queryDeviceName=&queryVersionId=&entrance=v_list">DHCP配置</a></li>
	{{end}}
	
	
	{{if eq .Name "list_rf"}}
		<li class="active"><a href="#tab_1">RF射频配置</a></li>
	{{else}}
	<li><a href="v_edit_cfg?id={{.Device.Id}}&modelName=list_rf&pageNo=&queryProjectName=&queryMac=&queryMaterielId=&queryOnlineStatus=&queryStatus=&queryDeviceName=&queryVersionId=&entrance=v_list">RF射频配置</a></li>
	{{end}}
	
    
	{{if eq .Name "list_ssid"}}
		<li class="active"><a href="#tab_1">SSID配置</a></li>
	{{else}}
	<li><a href="v_edit_cfg?id={{.Device.Id}}&modelName=list_ssid&pageNo=&queryProjectName=&queryMac=&queryMaterielId=&queryOnlineStatus=&queryStatus=&queryDeviceName=&queryVersionId=&entrance=v_list">SSID配置</a></li>
	{{end}}
	
    
	{{if eq .Name "list_qos"}}
		<li class="active"><a href="#tab_1">QoS限速</a></li>
	{{else}}
	<li><a href="v_edit_cfg?id={{.Device.Id}}&modelName=list_qos&pageNo=&queryProjectName=&queryMac=&queryMaterielId=&queryOnlineStatus=&queryStatus=&queryDeviceName=&queryVersionId=&entrance=v_list">QoS限速</a></li>
	{{end}}
	
    
	{{if eq .Name "list_vpn"}}
		<li class="active"><a href="#tab_1">VPN设置</a></li>
	{{else}}
		<li><a href="v_edit_cfg?id={{.Device.Id}}&modelName=list_vpn&pageNo=&queryProjectName=&queryMac=&queryMaterielId=&queryOnlineStatus=&queryStatus=&queryDeviceName=&queryVersionId=&entrance=v_list">VPN设置</a></li>
	{{end}}
	
	<li class="pull-right">
        <button class="btn btn-default btn-flat" onclick="location.href='v_list?&pageNo=&queryProjectName=&queryMac=&queryMaterielId=&queryOnlineStatus=&queryStatus=&queryDeviceName=&queryVersionId=&entrance=v_list'"><i class="fa fa-arrow-left"></i> 返回列表</button>
    </li>
</ul>

<div id="dialog-upgrade-form" style="display: none;">
    <form id="upgradeForm" class="form-horizontal" method="POST">
        <div class="box-body">
            <div class="form-group">
                <label class="col-lg-4 col-sm-4 col-xs-12 control-label"><span class="text-danger">*</span>型号</label>
                <div class="col-lg-8 col-sm-8 col-xs-12">
                    <input type="text" class="form-control required" maxlength="32" disabled="disabled" id="modelName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 col-sm-4 col-xs-12 control-label required"><span class="text-danger">*</span>版本</label>
                <div class="col-lg-8 col-sm-8 col-xs-12" id="versionDiv">
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <input type="hidden" name="deviceIds" id="deviceIds">
    </form>
</div>


<script>

    function restartDevice (id){
        $.confirm(function(){
            $.getJSON("v_ajax_restart", {id:id}, function(data) {
                if(data.success){
                    showMessage("重启成功!", 1000);
                }else{
                    showError("重启失败!",1000);
                }
            });
        },"确认","您确定重启设备吗?");
    }

	function upgrade(model, id){
		optData(model);
		var addDialog = document.getElementById('dialog-upgrade-form');
        var d = dialog({
                           title: '选择固件版本',
                           content: addDialog,
                           okValue: '升级',
                           ok: function () {
                               $('#deviceIds').val(id);
                               var f = document.getElementById('upgradeForm');
                               f.action = "o_batch_upgrade";
                               f.submit();
                               return false;
                           },
                           cancelValue: '取消',
                           cancel: function () {
                           }
                       });
        d.showModal();
	}
	
	function changeVersion(id) {
        if (id == "") {
        	id = 0;
        }
        $.post("v_ajax_get_version", {id, id}, function (data) {
            if (data && data.success == true && data.firmwares.length > 0) {
                $("#modelSelectDiv").html("");
                var select = "<select  class='form-control select2' id='queryVersionId' name='queryVersionId' ><option value=''>--选择版本号--</option>";
                for (var i = 0; i < data.firmwares.length; i++) {
                    select +=
                            "<option value='" + data.firmwares[i].id + "'>" + data.firmwares[i].versionStr + "&nbsp;"
                            + data.firmwares[i].stateName + "</option>"
                }
                select += "</selelct>";
                $("#modelSelectDiv").append(select);
            } else {
                $("#modelSelectDiv").html("");
                var select = "<select  class='form-control select2' id='queryVersionId' name='queryVersionId' ><option selected='selected' value=''>--选择版本号--</option></select>";
                select += "</selelct>";
                $("#modelSelectDiv").append(select);
            }
        });
    }

    function optData(model) {
        $.post("v_ajax_get_firmwares", {model: model}, function (data) {
            if (data && data.success == true) {
                $('#modelName').val(model);
                $("#versionDiv").html("");
                var select = "<select class='form-control select2' name='id' >";
                for (var i = 0; i < data.firmwares.length; i++) {
                    if (i == 0) {
                        select +=
                                "<option value='" + data.firmwares[i].id + "' selected='selected'>" + data.firmwares[i].versionStr
                                + "&nbsp;" + data.firmwares[i].stateName + "</option>"
                    } else {
                        select +=
                                "<option value='" + data.firmwares[i].id + "'>" + data.firmwares[i].versionStr + "&nbsp;"
                                + data.firmwares[i].stateName + "</option>"
                    }
                }
                select += "</selelct>";
                $("#versionDiv").append(select);
            }
        });
    }

</script>			
{{template "devcontent" .}}	
		
		</div>
	</section>

	<script>
		$(function() {
		    $("#magicForm").validate();
		    $(".select2").select2();
		    // 复制pwd
			$(".copyPwdBtn").each(function () {
				var id = $(this).attr('id');
				var clipboard = new Clipboard(document.getElementById(id));
				clipboard.on('success', function(e) {
					console.info('Text:', e.text);
					showMessage("复制成功", 1000);
					e.clearSelection();
				});
			});
			$("a[id^='list_cfg']").click(function() {
				var addDialog = document.getElementById('dialog-transfer-form');
				var d = dialog({
					title: '云配置',
					content: addDialog,
					width:'600px',
					height:'auto',
					okValue: '保存',
					ok: function () {
						transferForm.submit();
						return false;
					},
					cancelValue: '取消',
					cancel: function () {}
				});
				d.showModal();
		    });
		});
		
		function read(id, modelName) {
			$.confirm(function(){
				$.getJSON("v_ajax_read_cfg", {id:id,modelName:modelName}, function(data) {
					if(data.success){
						var magicForm = $("#magicForm");
			            $("select[name='mode']").val(data.mode);
			            $("select[name='status']").val(data.status);
			            showMessage("获取成功!", 1000);
					}else{
						$("select[name='status']").val(data.status);
						showError(data.errorMsg, 2000);
					}
		        });
			},"提示","确定会覆盖配置");
	    }
		
		function submitForm(oldMode){
			var newMode = document.getElementById('mode').value;
			if(oldMode != newMode){
				 $.confirm(doSubmit, "确认", "您确定要修改设备模式吗?");
				 return;
			}
			doSubmit();
		}
		function doSubmit() {
	        var f = document.getElementById('magicForm');
	        f.action = "o_update";
	        f.submit();
	    }
		
	</script>
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/sco/css/sco.message.css">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/sco/css/scojs.css">
<script src="http://r.magicwifi.com.cn/v3/assets/vender/sco/js/sco.message.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/sco/js/sco.tooltip.js"></script>
<script type="text/javascript">
    function showMessage(message, time) {
        $.scojs_message.options.delay = time;
        $.scojs_message(message, $.scojs_message.TYPE_OK);
    }
    function showError(error, time) {
        $.scojs_message.options.delay = time;
        $.scojs_message(error, $.scojs_message.TYPE_ERROR);
    }
	{{if eq .Code 0}}
		showMessage("读取配置成功", 2000)
	{{else if eq .Code -1}}
		showError("读取配置失败", 2000)
	{{end}}
</script>
    </div>
    {{template "footer" .}}
    <!--<aside class="control-sidebar control-sidebar-dark">
        <div class="tab-content">
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading"></h3>
                <ul class="control-sidebar-menu"></ul>
                <h3 class="control-sidebar-heading"></h3>
                <ul class="control-sidebar-menu"></ul>
            </div>
        </div>
    </aside>-->
    <div class="control-sidebar-bg"></div>
</div>

<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/fastclick/fastclick.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/iCheck/icheck.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/select2/select2.full.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/js/app.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/magicwifi-admin/core/js/core.min.js"></script><script>
    function keepSession() {
        $.get("/v3/keep?d=" + new Date()*1);
    }
    setInterval("keepSession()",600000);
</script>
</body>
</html>
