<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>柠檬网联 Admin - 设备管理-列表</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="/assets/magicwifi-admin/core/img/favicon.ico">
    <link rel="stylesheet" href="/assets/vender/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vender/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/vender/adminlte2/plugins/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="/assets/vender/adminlte2/plugins/select2/select2.min.css">
    <link rel="stylesheet" href="/assets/vender/adminlte2/css/AdminLTE.min.css">
    <!--<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/css/skins/_all-skins.min.css">-->
    <link rel="stylesheet" href="/assets/vender/adminlte2/css/skins/skin-purple.min.css">
    <!--<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/css/skins/skin-blue.min.css">-->
    <link rel="stylesheet" href="/assets/vender/adminlte2/plugins/iCheck/minimal/blue.css">
    <link rel="stylesheet" href="/assets/vender/artDialog/css/ui-dialog.css">
    <!--[if lt IE 9]>
    <script src="/assets/vender/adminlte2/js/html5shiv.min.js"></script>
    <script src="/assets/vender/adminlte2/js/respond.min.js"></script>
    <![endif]-->
    <script src="/assets/vender/adminlte2/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/assets/vender/adminlte2/plugins/validation/jquery.validate.min.js"></script>
    <script src="/assets/vender/artDialog/js/dialog-min.js"></script>
    <script src="/assets/vender/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vender/adminlte2/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/assets/vender/adminlte2/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <meta name="module" content="device_list"/>
    <script src="/assets/vender/clipboard/clipboard.min.js"></script>

</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="/v3/core/index" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>M</b>WF</span>
            <!--<span class="logo-mini"><img src="http://r.magicwifi.com.cn/v3/assets/magicwifi-admin/core/img/logo.png" height="30px"/></span>-->
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><!--<img src="http://r.magicwifi.com.cn/v3/assets/magicwifi-admin/core/img/logo.png" height="30px"/>--><b>Magic</b>WiFi</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav ">
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success unReadTotal"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有<span class="unReadTotal"></span>条未读消息</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu" id="ul">
                                </ul>
                            </li>
                            <li class="footer"><a href="/v3/core/oss_message/v_list?box=0">查看全部</a></li>
                        </ul>
                    </li>
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/assets/vender/adminlte2/img/avatar4.png" class="user-image" alt="User Image">
                            <!--<i class="ion ion-person"></i>-->
                            <span class="hidden-xs">richard.qian</span>
                            <em class="glyphicon glyphicon-chevron-down"></em>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="/assets/vender/adminlte2/img/avatar4.png" class="img-circle" alt="User Image">
                                <p>
                                    richard.qian                                <small>richard.qian@magicwifi.com.cn</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/v3/core/personal/v_edit?modelName=edit" class="btn btn-default btn-flat">个人资料</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/v3/core/logout" class="btn btn-default btn-flat">退出登录</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--<li><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a></li>-->
                </ul>
            </div>
        </nav>
    </header>
    <script type="text/javascript">
	//$(function(){
	//	messageUnRead();
	//});
	function messageUnRead(){
		$.getJSON("/v3/core/oss_message/v_list_un_read/" + 267, function(data) {
			$(".unReadTotal").text(data.unReadTotal);
			// 组织未读消息列表
            var unReadList = data.unReadList;
            var ul = $("#ul").html("");
            for(var i=0;i<unReadList.length;i++){
        		var li = "<li>"+
            	"<a href='/v3/core/oss_message/v_view?id="+unReadList[i].id+"&box="+unReadList[i].box+"'>"+
            	"<h4 style='margin: 0 0 0 15px;'>"+unReadList[i].senderName+"<small style='padding-right:10px;'><i class='fa fa-clock-o' style='padding-right:3px;'></i> "+unReadList[i].intervalTime+"</small></h4>"+
            	"<p style='margin: 0 0 0 15px;'>"+unReadList[i].title+"</p>"+
            	"</a></li>";
            	ul.append(li);
            }
        });
	}
</script><aside class="main-sidebar">
   {{template "sidebar1" .}}
</aside>    <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>设备列表
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/v3/core/index"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li class="active">设备列表</li>
        </ol>
    </section>

    <section class="content">
        <div class="row" style="padding: 0 0 5px 0;">
            <form id="queryForm" action="v_reset_list" class="form-inline" method="post">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="panel box" style="padding: 3px;border-top: 0;box-shadow: 0 3px 3px rgba(0,0,0,0.1);margin-bottom: 5px;">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <select id="queryProjectName" name="queryProjectName" class="form-control select2" style="width:363px;"><option value=" ">--项目--</option>
							{{range $k, $v := .Projects}}
								<option value="{{$v.ID}}">{{$v.Name}}</option>
							{{end}}

								</select>                </div>
                        <div class="form-group" style="margin-bottom: 5px;">
                            <select name="queryMaterielId" class="form-control" style="width:180px;" onchange="javascript:changeVersion(this.value);"><option value="" selected="selected">--型号--</option>
							{{range $k, $v := .Models}}
							<option value="{{$v.Id}}">{{$v.ModelName}}</option>
							{{end}}
								</select>                </div>
                        <div class="form-group" id="modelSelectDiv" style="margin-bottom: 5px;">
                            <select name="queryVersionId" class="form-control" style="width:180px;"><option value="" selected="selected">--版本号--</option>                <option value="188">
                                0.3.16 - ALPHA</option>                <option value="182">
                                0.3.15 - ALPHA</option>                <option value="169">
                                0.3.14 - ALPHA</option>                <option value="167">
                                0.3.13 - BETA</option>                <option value="165">
                                0.3.12 - ALPHA</option>                <option value="160">
                                0.3.11 - BETA</option>                <option value="153">
                                0.3.10 - BETA</option>                <option value="152">
                                0.3.9 - BETA</option>                <option value="148">
                                0.3.8 - BETA</option>                <option value="142">
                                0.3.7 - BETA</option>                <option value="136">
                                0.3.6 - BETA</option>                <option value="134">
                                0.3.5 - BETA</option>                <option value="133">
                                0.3.4 - RC</option>                <option value="129">
                                0.3.3 - BETA</option>                <option value="126">
                                0.3.2 - BETA</option>                <option value="125">
                                0.3.1 - BETA</option>                <option value="117">
                                0.3.0 - ALPHA</option>                <option value="118">
                                0.2.18 - ALPHA</option>                <option value="111">
                                0.2.17 - RC</option>                <option value="107">
                                0.2.16 - BETA</option>                <option value="103">
                                0.2.15 - BETA</option>                <option value="102">
                                0.2.14 - BETA</option>                <option value="101">
                                0.2.13 - BETA</option>                <option value="98">
                                0.2.12 - BETA</option>                <option value="93">
                                0.2.11 - RC</option>                <option value="88">
                                0.2.10 - BETA</option>                <option value="91">
                                0.2.9 - BETA</option>                <option value="86">
                                0.2.8 - BETA</option>                <option value="79">
                                0.2.7 - BETA</option>                <option value="76">
                                0.2.6 - BETA</option>                <option value="66">
                                0.2.5 - RC</option>                <option value="48">
                                0.2.4 - BETA</option>                <option value="43">
                                0.2.3 - BETA</option>                <option value="34">
                                0.2.2 - RC</option>                <option value="27">
                                0.2.1 - RC</option>                <option value="15">
                                0.2.0 - RC</option>                <option value="21">
                                0.0.116 - RC</option>                <option value="17">
                                0.0.115 - RC</option>                <option value="2">
                                0.0.113 - RC</option></select>                </div>
                        <div class="form-group" style="margin-bottom: 5px; padding-left:5px;">
                            <input type="checkbox" name="queryNot" value="1" />反选
                        </div>
                        <div class="form-group" style="margin-bottom: 5px;">
                            <select name="queryOnlineStatus" class="form-control" style="width:180px;"><option value="" selected="selected">--在线状态--</option>                <option value="1">
                                离线</option>                <option value="2">
                                在线</option>                <option value="3">
                                未上线</option></select>                </div>
                        </br>
                        <div class="form-group" style="margin-bottom: 5px;">
                            <select name="queryStatus" style="width:180px;" class="form-control">
                                <option value="">--设备状态--</option>
                                <option value="0" >正常</option>
                                <option value="1" >故障</option>
                                <option value="2" >鉴权失败</option>
                                <option value="3" >丢失报废</option>
                                <option value="7" >停维</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-bottom: 5px;">
                            <select name="queryProjectStatus" style="width:180px;" class="form-control">
                                <option value="">--项目状态--</option>
                                <option value="0" >未开通</option>
                                <option value="1" >已开通</option>
                                <option value="2" >停维</option>
                                <option value="4" >关闭</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-bottom: 5px;">
                            <input type="text" style="width:180px;" class="form-control mac" size="20" placeholder="MAC地址" name="queryMac" value="" onKeyUp="value=value.replace(/:/g,'').replace(/\ +/g,'').replace(/-/g, '')">
                        </div>
                        <div class="form-group" style="margin-bottom: 5px;">
                            <input type="hidden" id="queryId" name="id">
                            <a class="btn btn-primary btn-flat" data-toggle="collapse" style="width:70px;"  href="#queryMore">更多+</a>
                            <button type="submit" class="btn btn-primary btn-flat" style="width:70px;" >搜索</button>
                            <a href="/v3/project/device/v_reset"><button type="button" style="width:70px;" id="restart" class="btn btn-primary btn-flat">重置</button></a>
                            <a href="/v3/project/device/v_download"><button type="button" style="width:70px;" class="btn btn-primary btn-flat">下载</button></a>
                        </div>
                        <div id="queryMore" class="panel-collapse collapse" style="padding: 5px 0 0 0;" >
                            <div class="form-group" id="queryProvincesDiv" style="margin-bottom: 5px;">
                                <select name="queryProvinceId" class="form-control" style="width:180px;" onchange="javascript:getCities(this.value);"><option value="" selected="selected">--省份--</option>                <option value="50">
                                    北京市</option>                <option value="51">
                                    上海市</option>                <option value="52">
                                    天津市</option>                <option value="53">
                                    重庆市</option>                <option value="4">
                                    广东省</option>                <option value="2">
                                    福建省</option>                <option value="10">
                                    湖北省</option>                <option value="11">
                                    湖南省</option>                <option value="22">
                                    浙江省</option>                <option value="13">
                                    江苏省</option>                <option value="20">
                                    四川省</option>                <option value="8">
                                    河南省</option>                <option value="17">
                                    山东省</option>                <option value="7">
                                    河北省</option>                <option value="15">
                                    辽宁省</option>                <option value="18">
                                    山西省</option>                <option value="12">
                                    吉林省</option>                <option value="9">
                                    黑龙江省</option>                <option value="14">
                                    江西省</option>                <option value="6">
                                    海南省</option>                <option value="19">
                                    陕西省</option>                <option value="5">
                                    贵州省</option>                <option value="21">
                                    云南省</option>                <option value="3">
                                    甘肃省</option>                <option value="16">
                                    青海省</option>                <option value="61">
                                    内蒙古自治区</option>                <option value="60">
                                    广西壮族自治区</option>                <option value="63">
                                    西藏自治区</option>                <option value="64">
                                    新疆维吾尔自治区</option>                <option value="62">
                                    宁夏回族自治区</option>                <option value="82">
                                    澳门</option>                <option value="81">
                                    香港</option>                <option value="80">
                                    台湾省</option>                <option value="1">
                                    安徽省</option>                <option value="83">
                                    海外</option></select>                        </div>
                            <div class="form-group" id="queryCitiesDiv" style="margin-bottom: 5px;">
                                <select id="select1" name="queryCityId" class="form-control" style="width:180px;"><option value="" selected="selected">--城市--</option></select>                        </div>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <select name="queryMode" class="form-control" style="width:180px;"><option value="" selected="selected">--模式--</option>                <option value="0">
                                    AP</option>                <option value="1">
                                    ROUTER</option></select>                        </div>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <input type="text" style="width:180px;"  class="form-control" size="20" placeholder="名称" name="queryDeviceName" value="" onKeyUp="value=value.replace(/\ +/g,'')">
                            </div>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <select name="queryOffStatus" class="form-control" style="width:180px;"><option value="" selected="selected">--离线区间--</option>                <option value="1">
                                    三小时之内</option>                <option value="2">
                                    一天之内</option>                <option value="3">
                                    一周之内</option>                <option value="4">
                                    一个月之内</option>                <option value="5">
                                    三个月之内</option>                <option value="6">
                                    三个月之外</option></select>                        </div>
                            <div class="form-group" style="margin-bottom: 5px;">
                                <select name="queryRunningStatus" class="form-control" style="width:180px;"><option value="" selected="selected">--设备操作状态--</option>                <option value="1">
                                    重启中</option>                <option value="2">
                                    升级中</option></select>                        </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div class="row" style="padding: 0 0 5px 0;">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="btn-group">
                    <!--
            		<a href="v_add" class="btn btn-primary btn-flat" style="margin-right: 5px;">添加</a>
            	-->
                    <button type="button" class="btn btn-primary dropdown-toggle btn-flat" data-toggle="dropdown">
                        更多操作 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:void(0);" onclick="optUpdate();">快速配置</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" onclick="optRestart();">重启设备</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" id="upgrade">升级设备</a></li>
                        <li class="divider"></li>
                        <li><a href="v_list_upgrade_log">升级日志</a></li>
                        <li class="divider"></li>
                        <li><a href="java:void(0);" onclick="optStop();">停维</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <form id="tableForm" method="post">
            <input type="hidden" name="pageNo" value=""/>
            <input type="hidden" name="queryOffStatus" value=""/><input type="hidden" name="queryRunningStatus" value=""/><div class="row">
            <div class="col-sm-12">
                <div class="box box-solid">
                    <!--/.box-header-->
                    <div class="table-responsive">
                        <table id="datagrid"
                               data-toggle="table"
                        >
                            <thead><tr  class="row_double" >
                                <th><input type='checkbox' id='check-all' onclick='Mf.checkbox("ids",this.checked)' /></th><!--
        <th>ID</th> -->

                                <th>项目</th><!--
        <th>资产编号</th>-->
                                <th>SSID</th>
                                <th>名称</th>
                                <th>型号</th>
                                <th>WAN口MAC</th>
                                <th>TOKEN</th>
                                <th>模式</th>
                                <th>状态</th>
                                <th>在线状态</th>
                                <th>版本号</th>
                                <th>最后在线时间</th>
                                <th>操作选项</th></tr></thead>
                            <tbody>

							{{range $k, $v := .Devices}}
							{{if gt $k 1}}
							<tr  class="row_double">
							{{else}}
							<tr>
							{{end}}
                                	<td>

									<input type='checkbox' name='ids' value='{{$v.Id}}' id='{{$v.ModelType}}'/>

								</td>
                                	<td>


									{{range $pk, $pv := $.Projects}}

										{{if eq $v.ProjectRefer $pv.ID}}

										<span  title="{{$pv.Name}}">{{$pv.Name}}</span>
										{{end}}
									{{end}}
								</td>
                                	<td>
                                	    <a  href="v_edit_cfg?id={{$v.Id}}&readCfg=1&modelName=list_ssid&pageNo=&queryProjectId=1492&queryMac=&queryMaterielId=&queryOnlineStatus=&queryStatus=&queryDeviceName=&queryVersionId=&queryMode=" onclick="if(!$.confirmToUrl(this.href,'你确定要编辑设备配置吗','确定会让已在线的读取一次设备配置,可能会覆盖已修改的设备配置')) {return false;}"  title="">
										{{range $t, $s := $v.Ssid}}  {{$s.Name}}  {{end}}
									</a>
                                	</td>
                                <td><span title="{{$v.Name}}">{{$v.Name}}</span></td>
                                <td>
								{{range $mk,$mv := $.Models}}
									{{if eq $mv.ModelType $v.ModelType}}
										{{$mv.ModelName}}
									{{end}}
								{{end}}
									</td>
                                <td><span id="macText_{{$v.Id}}">
					                <a  href="../terminal/v_list_online?queryKey={{$v.Mac}}"  >
					                {{$v.Mac}}</a></span>&nbsp;&nbsp;
                                    <button type="button" class="btn btn-default btn-xs btn-flat copyMacBtn" id="copyMacBtn{{$v.Id}}"
                                            data-clipboard-text="{{$v.Mac}}">复制
                                    </button>
                                </td>
                                <td>            <span id="tokenText_259065" title="{{$v.CloudToken}}">{{$v.CloudToken}}</span>&nbsp;&nbsp;
                                    <button type="button" class="btn btn-default btn-xs btn-flat copyTokenBtn" id="copyTokenBtn259065"
                                            data-clipboard-text="c9264eae34134a3fafa8276c92b680be">复制
                                    </button>
                                </td>
                                <td>{{if eq $v.Mode 0}}AP{{else}}Router{{end}}</td>
                                <td>正常</td>
                                <td>
								{{range $ds, $dv := $.DevStatus}}
									{{if eq $v.Id $dv.DeviceRefer}}
										{{if eq $dv.Online false}}
											<span style="color:red">离线</span>
										{{else}}
											<span style="color:green">在线</span>
										{{end}}
									{{end}}
								{{end}}
                                </td>
                                	<td>{{$v.Version}}</td>
                                	<td>
								{{range $ds, $dv := $.DevStatus}}
									{{if eq $v.Id $dv.DeviceRefer}}
									      {{timeStr $dv.Heartbeat}}
									{{end}}
								{{end}}
                               	</td>
                                	<td>
									<a href="v_edit_cfg?id={{$v.Id}}&readCfg=1&modelName=list_edit&entrance=v_list&pageNo=&queryProjectId=1492&queryMac=&queryMaterielId=&queryOnlineStatus=&queryStatus=&queryDeviceName=&queryVersionId=&queryMode=" class="btn btn-primary btn-xs btn-flat" onclick="if(!$.confirmToUrl(this.href,'你确定要编辑设备配置吗','确定会让已在线的读取一次设备配置,可能会覆盖已修改的设备配置')) {return false;}">修改 </a>
									<a href="v_edit_delete?ids={{$v.Id}}&modelName=list_edit&pageNo=" class="btn btn-primary btn-xs btn-flat"  onclick="if(!$.confirmToUrl(this.href,'你确定要删除设备吗','删除设备后设备无法再被搜索到')) {return false;}">删除</a>
								</td>
							</tr>
							{{end}}

						</tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <div class="row">
                            <div class="col-sm-6">
                                共 {{.TotalDevice}} 条&nbsp;
                                每页 <input type="text" value="{{.PageSize}}" style="width:30px" onfocus="this.select();"
                                          onblur="$.cookie('_cookie_page_size',this.value,{expires:3650});"
                                          onkeypress="if(event.keyCode==13){$(this).blur();_gotoPage('{{.PageNo}}');return false;}"/> 条&nbsp;
                                当前 {{.PageNo}}/{{.PageNum}} 页 &nbsp;
                            </div>
                            <div class="col-sm-6">

							<!--<div id="pageDiv"></div>
							-->
                           <div id="pageDiv" class="pull-right"></div>

                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
					/**
					 * divObj:显示翻页的div，默认body。如：#pageDiv
					 * inputId:跳转页面的id，默认goPage。如：goPage
					 * js:点击过之后执行js的方法名。默认query。如：query
					 * records:总页数，默认1。
					 * total：总记录数，默认0。
					 * page：当前页，默认1。
					 */
					function displayPage(divObj,inputId,js,records,page,total){
					  //设置默认值
					  divObj = divObj||"body";
					  inputId = inputId||"goPage";
					  js=js||"query";
					  records=records||1;
					  total=total||0;
					  page=page||1;
					  var str = "当前第 <span name='page'>"+page+"</span> 页";
					  str += " 共 <span name='total'>"+records+"</span> 页";
					  str += " <a href='javascript:void(0)' onclick='"+js+"(1)'>首页</a>";
					  if(page>1){
					    str += " <a href='javascript:void(0)' onclick='"+js+"("+(page-1)+")'>上一页</a>";
					  }else{
					    str += " <a>上一页</a>";
					  }
					  if(page<records){
					    str += " <a href='javascript:void(0)' onclick='"+js+"("+(page+1)+")'>下一页</a>";
					  }else{
					    str += " <a>下一页</a>";
					  }
					  str += " <a href='javascript:void(0)' onclick='"+js+"("+records+")'>尾页</a>";
					  str += " 跳转到 <input type='number' min=1 max="+records+" id='"+inputId+"' value="+page+" style='width:40px'/>";
					  str += " <input type='button' value='go' onclick='var num=$(\"#"+inputId+"\").val();"+js+"(num)'/>";
					  $(divObj).empty();
					  $(divObj).append(str);
					}

					function displayPage2(divObj,inputId,js,records,page,total){
					  //设置默认值
					  divObj = divObj||"body";
					  inputId = inputId||"goPage";
					  js=js||"query";
					  records=records||1;
					  total=total||0;
					  page=page||1;

					var str;
					//previous page
					if (page > 1) {
						str = "<ul class="+"pagination pagination-sm no-margin"+ ">"+ "<li class="+"paginate_button previous disabled"+">"+"<a href="+"'javascript:void(0);'"+" onclick="+"'_gotoPage("+(page-1)+");'"+">上一页</a></li>";
					} else {
						str = "<ul class="+"pagination pagination-sm no-margin"+ ">"+ "<li class="+"paginate_button previous disabled"+">"+"<a href="+"'javascript:void(0);'"+">上一页</a></li>";
					}
					if (records > 4 && page > 2) {
						str += "<li class="+"'paginate_button' "+"><a href="+"'javascript:void(0);'"+ ">...</a></li>";
					}

					//page -1
					if (page > 1){
						str += "<li class="+"'paginate_button' "+"><a href="+"'javascript:void(0);'"+ "onclick="+"'_gotoPage("+(page-1)+");'"+">"+(page-1)+"</a></li>";
					}

					//page
					str +="<li class="+"'paginate_button active'"+"><a href="+"'javascript:void(0);'"+">"+(page)+"</a></li>";

					//page+1
					if ((page+1) <= records){
						str += "<li class="+"'paginate_button' "+"><a href="+"'javascript:void(0);'"+ "onclick="+"'_gotoPage("+(page+1)+");'"+">"+(page+1)+"</a></li>";
					}

					if ((page+2) <= records) {
						str += "<li class="+"'paginate_button' "+"><a href="+"'javascript:void(0);'"+ ">...</a></li>";
					}
					//next page
					if (page < records) {
						str += "<li class="+"'paginate_button next'"+"><a href="+"'javascript:void(0)';"+" onclick="+"'_gotoPage("+((page)+1)+");'"+">下一页</a></li>";
					} else {
						str += "<li class="+"'paginate_button next disabled'"+"><a href="+"'javascript:void(0)';"+">下一页</a></li>";
					}

					str += "</ul>";


					  $(divObj).empty();
						//alert(str);
					  $(divObj).append(str);
					//$(divObj).append("<a>hello world</a>")
					}
					//displayPage('#pageDiv',{{.PageNo}},'_gotoPage',{{.PageNum}}, {{.PageNo}},{{.TotalDevice}});
					displayPage2('#pageDiv',{{.PageNo}},'_gotoPage',{{.PageNum}}, {{.PageNo}},{{.TotalDevice}});
                    function _gotoPage(pageNo) {
                        try{
                            var tableForm = document.getElementById('tableForm');
                            $("input[name=pageNo]").val(pageNo);
                            tableForm.action="v_list";
                            tableForm.onsubmit=null;
//                            $('#queryForm').find("input").each(function(index, item){
//                                $(tableForm).append(item);
//                            });
                            tableForm.submit();
                        } catch(e) {
                            alert('_gotoPage(pageNo)方法出错');
                        }
                    }
                </script>
                </div>
            </div>
        </div>
            <!-- /.row -->
        </form>
    </section>

    <div id="dialog-upgrade-form" style="display: none;">
        <form id="upgradeForm" class="form-horizontal" method="POST">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span class="text-danger">*</span>型号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control required" maxlength="32" disabled="disabled" id="modelName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label required"><span class="text-danger">*</span>版本</label>
                    <div class="col-sm-8" id="versionDiv">
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <input type="hidden" name="deviceIds" id="deviceIds">
        </form>
    </div>

    <!-- /.content -->
    <script>
    $(function () {
        $(".select2").select2({tags:true});
        $("#upgradeForm").validate();
        $("#queryForm").validate();

        $("#upgrade").click(function () {
            if (Mf.checkedCount('ids') <= 0) {
                $.alert("提示", "请选择您要操作的数据");
                return;
            }
            var success = checkModel();
            if (success == 1) {
                $.alert("提示", "设备型号不一致");
                return;
            }else if(success == 2){
            	$.alert("提示", "J1S型号的设备无操作权限");
                return;
            }
            var addDialog = document.getElementById('dialog-upgrade-form');
            var d = dialog({
                               title: '选择固件版本',
                               content: addDialog,
                               okValue: '升级',
                               ok: function () {
                                   var obj = document.getElementsByName("ids");
                                   var check_val = [];
                                   for (var k in obj) {
                                       if (obj[k].checked) {
                                           check_val.push(obj[k].value);
                                       }
                                   }
                                   $('#deviceIds').val(check_val);
                                   var f = document.getElementById('upgradeForm');
                                   f.action = "o_batch_upgrade";
                                   f.submit();
                                   return false;
                               },
                               cancelValue: '取消',
                               cancel: function () {
                               }
                           });
            d.showModal();
        });

        // 复制mac
        $(".copyMacBtn").each(function () {
            var id = $(this).attr('id');
            var clipboard = new Clipboard(document.getElementById(id));
            clipboard.on('success', function(e) {
                console.info('Text:', e.text);
                showMessage("复制成功", 1000);
                e.clearSelection();
            });
        });

        // 复制token
        $(".copyTokenBtn").each(function () {
            var id = $(this).attr('id');
            var clipboard = new Clipboard(document.getElementById(id));
            clipboard.on('success', function(e) {
                console.info('Text:', e.text);
                showMessage("复制成功", 1000);
                e.clearSelection();
            });
        });

    });

    function checkModel() {
        var obj = document.getElementsByName('ids');
        var model = "";
        for (var i = 0; i < obj.length; i++) {
            if (obj[i].checked) {
            	if(obj[i].id == "J1S"){
            		return 2;
            	}
                if (model == "") {
                    model = obj[i].id;
                }
                if (model != obj[i].id) {
                    return 1;
                }
            }
        }
        optData(model);
        return 0;
    }

    function changeVersion(id) {
        if (id == "") {
        	id = 0;
        }
        $.post("v_ajax_get_version", {id, id}, function (data) {
            if (data && data.success == true && data.firmwares.length > 0) {
                $("#modelSelectDiv").html("");
                var select = "<select  class='form-control select2' id='queryVersionId' name='queryVersionId' ><option value=''>--选择版本号--</option>";
                for (var i = 0; i < data.firmwares.length; i++) {
                    select +=
                            "<option value='" + data.firmwares[i].id + "'>" + data.firmwares[i].versionStr + "&nbsp;"
                            + data.firmwares[i].stateName + "</option>"
                }
                select += "</selelct>";
                $("#modelSelectDiv").append(select);
            } else {
                $("#modelSelectDiv").html("");
                var select = "<select  class='form-control select2' id='queryVersionId' name='queryVersionId' ><option selected='selected' value=''>--选择版本号--</option></select>";
                select += "</selelct>";
                $("#modelSelectDiv").append(select);
            }
        });
    }

    function optData(model) {
        $.post("v_ajax_get_firmwares", {model: model}, function (data) {
            if (data && data.success == true) {
                $('#modelName').val(model);
                $("#versionDiv").html("");
                var select = "<select class='form-control select2' name='id' >";
                for (var i = 0; i < data.firmwares.length; i++) {
                    if (i == 0) {
                        select +=
                                "<option value='" + data.firmwares[i].id + "' selected='selected'>" + data.firmwares[i].versionStr
                                + "&nbsp;" + data.firmwares[i].stateName + "</option>"
                    } else {
                        select +=
                                "<option value='" + data.firmwares[i].id + "'>" + data.firmwares[i].versionStr + "&nbsp;"
                                + data.firmwares[i].stateName + "</option>"
                    }
                }
                select += "</selelct>";
                $("#versionDiv").append(select);
            }
        });
    }

    function optUpdate() {
        if (Mf.checkedCount('ids') <= 0) {
            $.alert("提示", "请选择您要操作的数据");
            return;
        }
        var success = checkModel();
        if (success == 1) {
            $.alert("提示", "设备型号不一致");
            return;
        }else if(success == 2){
        	$.alert("提示", "J1S型号的设备无操作权限");
            return;
        }
        var f = document.getElementById('tableForm');
        f.action = "v_edit_fast";
        f.submit();
    }

    function optRestart() {
        if (Mf.checkedCount('ids') <= 0) {
            $.alert("提示", "请选择您要操作的数据");
            return;
        }
        var success = checkModel();
        if (success == 1) {
            $.alert("提示", "设备型号不一致");
            return;
        }else if(success == 2){
        	$.alert("提示", "J1S型号的设备无操作权限");
            return;
        }
        $.confirm(doRestart, "确认", "您确定重启吗?");
    }

    function doRestart() {
        var f = document.getElementById('tableForm');
        f.action = "v_restart";
        f.submit();
    }

    function optStop(){
        if (Mf.checkedCount('ids') <= 0) {
            $.alert("提示", "请选择您要操作的数据");
            return;
        }
        $.confirm(doStop, "确认", "您确定要停维吗?");
    }

    function doStop() {
        var f = document.getElementById('tableForm');
        f.action = "o_update_status2stop";
        f.submit();
    }

    function getCities(provinceId){
    	var cityId = "";
    	if(provinceId == ""){
    		$("#queryCitiesDiv").html("");
    		var select = "<select  class='form-control select2' name='queryCityId' ><option selected='selected' value=''>--请选择城市--</option></select>";
    		$("#queryCitiesDiv").html(select);
    		return ;
    	}
	    $.post("../city/v_ajax_get_cities", {"provinceId":provinceId}, function(data){
		    	if (data.success) {
		    		$("#queryCitiesDiv").html("");
		    		var select = "<select name='queryCityId' class='form-control select2' > <option selected='selected' value=''>--请选择城市--</option>";
		    		for (var i=0; i<data.ids.length; i++) {
		    			if(data.ids[i] == cityId){
		    				select += "<option value='"+data.ids[i]+"' selected='selected'>"+data.cities[i]+"</option>"
		    			}else{
		    				select += "<option value='"+data.ids[i]+"'>"+data.cities[i]+"</option>"
		    			}
		    		}
		    		select += "</selelct>";
					$("#queryCitiesDiv").append(select);
				}
			});
    }
    function restartDevice (id){
    	$.confirm(function(){
    		$.getJSON("v_ajax_restart", {id:id}, function(data) {
				if(data.success){
					showMessage("重启成功!", 1000);
				}else{
					showError("重启失败!",1000);
				}
	        });
    	},"确认","您确定重启设备吗?");
    }

</script>
    <link rel="stylesheet" href="/assets/vender/sco/css/sco.message.css">
    <link rel="stylesheet" href="/assets/vender/sco/css/scojs.css">
    <script src="/assets/vender/sco/js/sco.message.js"></script>
    <script src="/assets/vender/sco/js/sco.tooltip.js"></script>
    <script type="text/javascript">
    function showMessage(message, time) {
        $.scojs_message.options.delay = time;
        $.scojs_message(message, $.scojs_message.TYPE_OK);
    }
    function showError(error, time) {
        $.scojs_message.options.delay = time;
        $.scojs_message(error, $.scojs_message.TYPE_ERROR);
    }
</script>
</div>
     {{template "footer"}}
    <!--<aside class="control-sidebar control-sidebar-dark">
        <div class="tab-content">
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading"></h3>
                <ul class="control-sidebar-menu"></ul>
                <h3 class="control-sidebar-heading"></h3>
                <ul class="control-sidebar-menu"></ul>
            </div>
        </div>
    </aside>-->
    <div class="control-sidebar-bg"></div>
</div>

<script src="/assets/vender/adminlte2/plugins/fastclick/fastclick.min.js"></script>
<script src="/assets/vender/adminlte2/plugins/iCheck/icheck.min.js"></script>
<script src="/assets/vender/adminlte2/plugins/select2/select2.full.min.js"></script>
<script src="/assets/vender/adminlte2/js/app.min.js"></script>
<script src="/assets/magicwifi-admin/core/js/core.min.js"></script><script>
    function keepSession() {
        $.get("/v3/keep?d=" + new Date()*1);
    }
    setInterval("keepSession()",600000);
</script>
</body>
</html>
