
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>柠檬网联 Admin - 欢迎您</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="assets/magicwifi-admin/core/img/favicon.ico">
<link rel="stylesheet" href="/assets/vender/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/assets/vender/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/vender/adminlte2/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="/assets/vender/adminlte2/plugins/select2/select2.min.css">
<link rel="stylesheet" href="/assets/vender/adminlte2/css/AdminLTE.min.css">
<!--<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/css/skins/_all-skins.min.css">-->
<link rel="stylesheet" href="/assets/vender/adminlte2/css/skins/skin-purple.min.css">
<!--<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/css/skins/skin-blue.min.css">-->
<link rel="stylesheet" href="/assets/vender/adminlte2/plugins/iCheck/minimal/blue.css">
<link rel="stylesheet" href="/assets/vender/artDialog/css/ui-dialog.css">
<!--[if lt IE 9]>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/js/html5shiv.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/js/respond.min.js"></script>
<![endif]-->
<script src="/assets/vender/adminlte2/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="/assets/vender/adminlte2/plugins/validation/jquery.validate.min.js"></script>
<script src="/assets/vender/artDialog/js/dialog-min.js"></script>
<script src="/assets/vender/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vender/adminlte2/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/assets/vender/adminlte2/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    
    <meta name="module" content="projectWelcome"/>
    <style type="text/css">
        .widget-device .widget-device-header {
            padding: 10px 20px 5px 20px;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            text-align: center;
        }

        .widget-device .widget-device-title {
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 25px;
            font-weight: 300;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }
    </style>

</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">

<header class="main-header">
    <!-- Logo -->
    <a href="/v3/core/index" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>M</b>WF</span>
        <!--<span class="logo-mini"><img src="http://r.magicwifi.com.cn/v3/assets/magicwifi-admin/core/img/logo.png" height="30px"/></span>-->
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><!--<img src="http://r.magicwifi.com.cn/v3/assets/magicwifi-admin/core/img/logo.png" height="30px"/>--><b>Magic</b>WiFi</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav ">
                <li class="dropdown messages-menu">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
	                  <i class="fa fa-envelope-o"></i>
	                  <span class="label label-success unReadTotal"></span>
	                </a>
	                <ul class="dropdown-menu">
	                  <li class="header">你有<span class="unReadTotal"></span>条未读消息</li>
	                  <li>
	                    <!-- inner menu: contains the actual data -->
	                    <ul class="menu" id="ul">
	                    </ul>
	                  </li>
	                  <li class="footer"><a href="/v3/core/oss_message/v_list?box=0">查看全部</a></li>
	                </ul>
	              </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/assets/vender/adminlte2/img/avatar4.png" class="user-image" alt="User Image">
                        <!--<i class="ion ion-person"></i>-->
                        <span class="hidden-xs">richard.qian</span>
                        <em class="glyphicon glyphicon-chevron-down"></em>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="/assets/vender/adminlte2/img/avatar4.png" class="img-circle" alt="User Image">
                            <p>
richard.qian                                <small>richard.qian@magicwifi.com.cn</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/v3/core/personal/v_edit?modelName=edit" class="btn btn-default btn-flat">个人资料</a>
                            </div>
                            <div class="pull-right">
                                <a href="/v3/core/logout" class="btn btn-default btn-flat">退出登录</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--<li><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a></li>-->
            </ul>
        </div>
    </nav>
</header>
<script type="text/javascript">
	//$(function(){
	//	messageUnRead();
	//});
	function messageUnRead(){
		$.getJSON("/v3/core/oss_message/v_list_un_read/" + 267, function(data) {
			$(".unReadTotal").text(data.unReadTotal);
			// 组织未读消息列表
            var unReadList = data.unReadList;
            var ul = $("#ul").html("");
            for(var i=0;i<unReadList.length;i++){
        		var li = "<li>"+
            	"<a href='/v3/core/oss_message/v_view?id="+unReadList[i].id+"&box="+unReadList[i].box+"'>"+
            	"<h4 style='margin: 0 0 0 15px;'>"+unReadList[i].senderName+"<small style='padding-right:10px;'><i class='fa fa-clock-o' style='padding-right:3px;'></i> "+unReadList[i].intervalTime+"</small></h4>"+
            	"<p style='margin: 0 0 0 15px;'>"+unReadList[i].title+"</p>"+
            	"</a></li>";
            	ul.append(li);
            }
        });
	}
</script><aside class="main-sidebar">
    {{template "sidebar1" .}}
</aside>    <div class="content-wrapper">
    

<section class="content-header">
    <h1>
        项目管理
        <small>欢迎页</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="/v3/core/index">
                <i class="fa fa-dashboard"></i>
                首页
            </a>
        </li>
        <li class="active">项目管理</li>
    </ol>
</section>

<section class="content">




    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div id="container4Dat" style="height:400px">
					<h1>精简的设备管理后台</h1>
					<ul>
					<li> 
						<h4>项目管理 - 分组管理设备</h4>
					</li>
					<li> 
						<h4>添加设备 - 添加新设备</h4>
					</li>
					<li> 
						<h4>设备列表 - 设备的详细配置,展示,删除</h4>
					</li>
					<li> 
						<h4>固件管理 - 设备固件添加,删除,修改</h4>
					</li>
					<li> 
						<h4>运营管理 ...待完善</h4>
					</li>
					</ul>
					</div>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
   /* Richard comment

    $(function () {
        // 保证进入界面就会得到数据
		monitor();
        // 进入界面后每30s执行一次
        setInterval(function () {
			monitor();
            // 自动刷新项目日志
            autoFlushLog();
        }, 30000);

        $('#container4Hat')
                .highcharts({
                                chart: {
                                    type: 'spline'
                                },
                                title: {
                                    text: '活跃终端时段分析',
                                    x: -20 //center
                                },
//                                       subtitle: {
//                                           text: 'Source: WorldClimate.com',
//                                           x: -20
//                                       },
                                xAxis: {
                                    categories: []
                                },
                                yAxis: {
                                    title: {
                                        text: '活跃终端数'
                                    },
                                    min: 0,
                                    plotLines: [{
                                        value: 0,
                                        width: 1,
                                        color: '#808080'
                                    }]
                                },
//                                       tooltip: {
//                                           valueSuffix: '°C'
//                                       },
                                plotOptions: {
                                    spline: {
                                        lineWidth: 2,
                                        states: {
                                            hover: {
                                                lineWidth: 3
                                            }
                                        },
                                        marker: {
                                            enabled: false
                                        }
                                    }
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'middle',
                                    borderWidth: 0
                                },
                              	//版权是否显示
                                credits: {
                                    enabled: false
                                },
                                series: [{
                                    name: '24小时',
                                    data: []
                                },{
                                    name: '48小时',
                                    data: []
                                }]
                            });
        var yAxisAVG = new Array();
        var datalist = '[320740,320244,319865,319445,318586,318669,319707,319427,318910,318435,317811,316407,315816,316533,316124,315747,315446,314990,314088,313574,313772,312981,311947,310879,309755,308586,308219,309400,311248,311708]';
		var dataObj = eval('(' + datalist + ')');
		if (dataObj.length > 0) {
			for (var i = 0; i < dataObj.length; i++) {
				yAxisAVG[i] = dataObj[i];
			}
		}
        $('#container4Dat').highcharts({
                                chart: {
                                    type: 'area'
                                },
                                title: {
                                    text: '近30日活跃终端趋势',
                                    x: -20 //center
                                },
								xAxis: {
									categories: ['2018-06-20','2018-06-21','2018-06-22','2018-06-23','2018-06-24','2018-06-25','2018-06-26','2018-06-27','2018-06-28','2018-06-29','2018-06-30','2018-07-01','2018-07-02','2018-07-03','2018-07-04','2018-07-05','2018-07-06','2018-07-07','2018-07-08','2018-07-09','2018-07-10','2018-07-11','2018-07-12','2018-07-13','2018-07-14','2018-07-15','2018-07-16','2018-07-17','2018-07-18','2018-07-19']
								},

                                plotOptions: {
                                    area: {
                                        lineWidth: 2,
                                            states: {
                                            hover: {
                                                lineWidth: 3
                                            }
                                        },
                                        marker: {
                                            enabled: false
                                        }
                                    }
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'middle',
                                    borderWidth: 0
                                },
                                //版权是否显示
                                credits: {
                                    enabled: false
                                },
                                yAxis: {
                                    title: {
                                        text: '活跃终端数'
                                    },
                                    min: 0,
                                },
                                series: [{
                                    name: "日活跃",
                                	data: [322363,324209,321652,307244,329550,329963,324822,322463,321634,316307,301371,316622,320271,317473,321952,318655,311638,297941,308957,305709,304131,300052,297234,293976,291926,305116,302564,298728,298425,298739]
                                },
                                {
                                	type: 'spline',
                                    name: "30日平均活跃",
                                    color : "#FF0000",
                                	data: yAxisAVG,
                                	dashStyle: 'LongDash',
                                	width:2,
                                	marker: {
                                        enabled: false
                                    }
                                } ],
                            });
    });


    function monitor() {
		$.post("monitor/" + 267, function (data) {
			$("#online_device_num").text(data.online_device_num);
			$("#offline_device_num").text(data.offline_device_num);
			$("#invalid_device_num").text(data.invalid_device_num);
			$("#stop_maintenance_num").text(data.stop_maintenance_num);
//			$("#error_device_num").text(data.error_device_num);
			$("#online_terminal_num").text(data.online_terminal_num);
			$("#today_terminal_num").text(data.today_terminal_num);
			$("#yesterday_terminal_num").text(data.yesterday_terminal_num);
		});
	}

    function autoFlushLog() {
        $.post("ajax_get_project_logs", function (data) {
            if (data.projectLogs) {
                var list = data.projectLogs;
                $("#projectLogs").html('');
                var projectLogs = "";
                projectLogs += "<div class='box box-solid' id='projectLogs'><div class='box-body'><ul class='timeline'>";
                for (var i = 0; i < list.length; i++) {
                    if (i > 0 && new Date(list[i].createAt).Format("yyyy-MM-dd") != new Date(list[i - 1].createAt).Format(
                                    "yyyy-MM-dd")) {
                        projectLogs +=
                                "<li class='time-label'><span class='bg-red'>" + new Date(list[i].createAt).Format("yyyy-MM-dd")
                                + "</span></li>";
                    } else if (i == 0) {
                        projectLogs +=
                                "<li class='time-label'><span class='bg-red'>" + new Date(list[i].createAt).Format("yyyy-MM-dd")
                                + "</span>" +
                                "<a style='float: right;'  href='/v3/project/project_log/v_list' >更多+</a></li>";
                    }
                    projectLogs += "<li><i class='fa fa-envelope bg-blue'></i><div class='timeline-item'>" +
                                   "<span class='time'><i class='fa fa-clock-o'></i> " + list[i].intervalTime + " 前</span>";
                    projectLogs += "<h3 class='timeline-header'>";
                    projectLogs +=
                            "<a href='/v3/project/device/v_reset_list?queryProjectName=" + list[i].projectName
                            + "&queryOnlineStatus=1'>" + list[i].projectName + "</a>";
                    projectLogs += "&nbsp;" + list[i].title + "</h3>";
                    projectLogs += "<div class='timeline-body'>";
                    if (list[i].creatorId == 0) {
                        projectLogs += "【系统】" + list[i].content + "<br>";
                    } else {
                        projectLogs += "【" + list[i].creatorName + "】" + list[i].content + "<br>";
                    }
                    projectLogs += "</div></div></li>";
                }
                projectLogs += "<li><i class='fa fa-clock-o bg-gray'></i></li>";
                projectLogs += "</ul></div></li>";
                $("#projectLogs").html(projectLogs);
            }
        });
    }

    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    }

   */
</script>
<script src="/assets/vender/highcharts/js/highcharts.js"></script>

    </div>
     {{template "footer"}}
    <!--<aside class="control-sidebar control-sidebar-dark">
        <div class="tab-content">
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading"></h3>
                <ul class="control-sidebar-menu"></ul>
                <h3 class="control-sidebar-heading"></h3>
                <ul class="control-sidebar-menu"></ul>
            </div>
        </div>
    </aside>-->
    <div class="control-sidebar-bg"></div>
</div>

<script src="/assets/vender/adminlte2/plugins/fastclick/fastclick.min.js"></script>
<script src="/assets/vender/adminlte2/plugins/iCheck/icheck.min.js"></script>
<script src="/assets/vender/adminlte2/plugins/select2/select2.full.min.js"></script>
<script src="/assets/vender/adminlte2/js/app.min.js"></script>
<script src="/assets/magicwifi-admin/core/js/core.min.js"></script><script>
    function keepSession() {
        $.get("/v3/keep?d=" + new Date()*1);
    }
    //setInterval("keepSession()",600000);
</script>
</body>
</html>
