
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>柠檬网联 Admin - 固件管理-添加</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="http://r.magicwifi.com.cn/v3/assets/magicwifi-admin/core/img/favicon.ico">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/select2/select2.min.css">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/css/AdminLTE.min.css">
<!--<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/css/skins/_all-skins.min.css">-->
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/css/skins/skin-purple.min.css">
<!--<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/css/skins/skin-blue.min.css">-->
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/iCheck/minimal/blue.css">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/artDialog/css/ui-dialog.css">
<!--[if lt IE 9]>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/js/html5shiv.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/js/respond.min.js"></script>
<![endif]-->
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/validation/jquery.validate.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/artDialog/js/dialog-min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/bootstrap/js/bootstrap.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <meta name="module" content="firmware"/>

</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">

{{template "header" .}}
<script type="text/javascript">
	//$(function(){
	//	messageUnRead();
	//});
	function messageUnRead(){
		$.getJSON("/v3/core/oss_message/v_list_un_read/" + 267, function(data) {
			$(".unReadTotal").text(data.unReadTotal);
			// 组织未读消息列表
            var unReadList = data.unReadList;
            var ul = $("#ul").html("");
            for(var i=0;i<unReadList.length;i++){
        		var li = "<li>"+
            	"<a href='/v3/core/oss_message/v_view?id="+unReadList[i].id+"&box="+unReadList[i].box+"'>"+
            	"<h4 style='margin: 0 0 0 15px;'>"+unReadList[i].senderName+"<small style='padding-right:10px;'><i class='fa fa-clock-o' style='padding-right:3px;'></i> "+unReadList[i].intervalTime+"</small></h4>"+
            	"<p style='margin: 0 0 0 15px;'>"+unReadList[i].title+"</p>"+
            	"</a></li>";
            	ul.append(li);
            }
        });
	}
</script><aside class="main-sidebar">
	{{template "sidebar1" .}}
</aside>    <div class="content-wrapper">

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>项目管理<small>Control panel</small></h1>
    <ol class="breadcrumb">
        <li><a href="/v3/core/index"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">项目管理</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- right column -->
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">添加</h3>
                    <div class="box-tools">
                        <button class="btn btn-default btn-flat" onclick="location.href='v_list'"><i class="fa fa-arrow-left"></i> 返回列表</button>
                    </div>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form id="magicForm" class="form-horizontal" action="o_save" method="post">
                    <input type="hidden" name="pageNo" value=""/>
                    <input type="hidden" name="token" value="4fbd45d9-3b6d-433f-b5bd-bcca7036d542">
<input type="hidden" name="queryModel" value="3"/>                    <div class="box-body">
                        <div class="form-group">
			                <label class="col-lg-4 col-sm-4 col-xs-12 control-label"><span class="text-danger">*</span>名称</label>
			                <div class="col-lg-4 col-sm-5 col-xs-12">
			                    <input type="text" class="form-control required" maxlength="32" placeholder="名称" name="name">
			                </div>
			            </div>

			            <div class="form-group">
			                <label class="col-lg-4 col-sm-4 col-xs-12 control-label">备注</label>
			                <div class="col-lg-4 col-sm-5 col-xs-12">
			                    <textarea class="form-control" rows="6" placeholder="备注" name="comment"></textarea>
			                </div>
			            </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <!--<input type="hidden" name="queryModel" value="3">-->
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-default pull-right btn-flat" onclick="history.go(-1)">返回</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary pull-left btn-flat">保存</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/input-mask/jquery.inputmask.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/input-mask/jquery.inputmask.extensions.js"></script>
<script>
	$.validator.addMethod("url", function(value) {
	    if(value.length==0) {return true;}
	    var u = /^((ht|f)tps?):\/\/[\w\-]+(\.[\w\-]+)+([\w\-\.,@?^=%&:\/~\+#]*[\w\-\@?^=%&\/~\+#])?$/;
	    return u.exec(value) ? true : false;
	}, "请输入合法的网址");

    $(function () {
        $("#magicForm").validate({
        	rules: {
            	url:{required:true , url:true}
            }
        });
        $(".select2").select2();
        $("[data-mask]").inputmask();

        $('input[type="radio"].minimal').iCheck({
            radioClass: 'iradio_minimal-blue'
        });
    });
</script>
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/sco/css/sco.message.css">
<link rel="stylesheet" href="http://r.magicwifi.com.cn/v3/assets/vender/sco/css/scojs.css">
<script src="http://r.magicwifi.com.cn/v3/assets/vender/sco/js/sco.message.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/sco/js/sco.tooltip.js"></script>
<script type="text/javascript">
    function showMessage(message, time) {
        $.scojs_message.options.delay = time;
        $.scojs_message(message, $.scojs_message.TYPE_OK);
    }
    function showError(error, time) {
        $.scojs_message.options.delay = time;
        $.scojs_message(error, $.scojs_message.TYPE_ERROR);
    }
</script>
    </div>
     {{template "footer"}}
    <!--<aside class="control-sidebar control-sidebar-dark">
        <div class="tab-content">
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading"></h3>
                <ul class="control-sidebar-menu"></ul>
                <h3 class="control-sidebar-heading"></h3>
                <ul class="control-sidebar-menu"></ul>
            </div>
        </div>
    </aside>-->
    <div class="control-sidebar-bg"></div>
</div>

<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/fastclick/fastclick.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/iCheck/icheck.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/plugins/select2/select2.full.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/vender/adminlte2/js/app.min.js"></script>
<script src="http://r.magicwifi.com.cn/v3/assets/magicwifi-admin/core/js/core.min.js"></script><script>
    function keepSession() {
        $.get("/v3/keep?d=" + new Date()*1);
    }
   // setInterval("keepSession()",600000);
</script>
</body>
</html>
