{{define "list_ssid"}}
<div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <form id="magicForm" class="form-horizontal" action="o_update_config" method="post">
                            <input type="hidden" name="pageNo" value=""/>
                            <input type="hidden" name="deviceId" value="{{.Device.Id}}"/>
                            <input type="hidden" name="entrance" value="v_list"/>
                            <input type="hidden" name="modelName" value="list_ssid">
	                                <input type="hidden" name="queryProjectName" value=""/>
	                                <input type="hidden" name="queryDeviceName" value=""/>
	                                <input type="hidden" name="queryMac" value="{{.Device.Mac}}"/>
	                                <input type="hidden" name="queryStatus" value=""/>
	                                <input type="hidden" name="queryVersionId" value=""/>
	                                <input type="hidden" name="queryOnlineStatus" value=""/>
	                                <input type="hidden" name="queryMaterielId" value=""/>
                            <input type="hidden" name="ssidPort" id="ssidPort">
                            <div class="box-body">
<div class="row">
    <div class="col-sm-12">
        <div class="box box-solid">
            <!--/.box-header-->
                <div class="table-responsive">
                    <table id="datagrid"
                           data-toggle="table"
                    >
                                <thead><tr  class="row_double" >    
        <th>端口</th>    
        <th>名称</th>    
        <th>5G名称</th>    
        <th>URL</th>    
        <th>操作选项</th></tr></thead>
                            <tbody>



{{$found := var 0}}
{{$tt := len .SSID}}
{{$ttt := dec $tt}}

{{range $k, $v := .SSID}}
{{if eq $v.Port 0}}
<tr>
    <td>0</td>
    <td><span name="name_0">{{$v.Name}}</span></td>
    <td><span name="name_0"></span></td>
    <td><span name="name_{{$v.Url}}">{{$v.Url}}</span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},0);" class="btn btn-primary btn-xs btn-flat">修改</a>
        <span class="text-danger" style="padding-top: 7px;padding-left: 15px;">0端口必填</span></td>
</tr>

{{set $found 1}}
{{end}}


{{if eq $k $ttt}}
{{if cmp $found 0}}
<tr>

    <td>0</td>
    <td><span name="name_0"></span></td>
    <td><span name="name_0"></span></td>
    <td><span name="name_"></span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},0);" class="btn btn-primary btn-xs btn-flat">修改</a>
        <span class="text-danger" style="padding-top: 7px;padding-left: 15px;">0端口必填</span></td>
</tr>
{{end}}
{{end}}

{{end}}
{{set $found 0}}
{{range $k, $v := .SSID}}
{{if eq $v.Port 1}}
<tr  class="row_double">

    <td>1</td>
    <td><span name="name_1">{{$v.Name}}</span></td>
    <td><span name="name_1"></span></td>
    <td><span name="name_{{$v.Url}}">{{$v.Url}}</span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},1);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>
{{set $found 1}}
{{end}}


{{if eq $k $ttt}}
{{if cmp $found 0}}
<tr  class="row_double">

    <td>1</td>
    <td><span name="name_1"></span></td>
    <td><span name="name_1"></span></td>
    <td><span name="name_"></span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},1);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>
{{end}}
{{end}}
{{end}}



{{set $found 0}}
{{range $k, $v := .SSID}}

{{if eq $v.Port 2}}
<tr  class="">
    <td>2</td>
    <td><span name="name_2">{{$v.Name}}</span></td>
    <td><span name="name_2"></span></td>
    <td><span name="name_{{$v.Url}}">{{$v.Url}}</span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},2);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>

{{set $found 1}}
{{end}}


{{if eq $k $ttt}}
{{if cmp $found 0}}
<tr  class="">

    <td>2</td>
    <td><span name="name_2"></span></td>
    <td><span name="name_2"></span></td>
    <td><span name="name_"></span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},2);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>
{{end}}
{{end}}
{{end}}

{{set $found 0}}
{{range $k, $v := .SSID}}
{{if eq $v.Port 3}}
<tr  class="row_double">

    <td>3</td>
    <td><span name="name_3">{{$v.Name}}</span></td>
    <td><span name="name_3"></span></td>
    <td><span name="name_{{$v.Url}}">{{$v.Url}}</span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},3);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>
{{set $found 1}}
{{end}}


{{if eq $k $ttt}}
{{if cmp $found 0}}
<tr  class="row_double">

    <td>3</td>
    <td><span name="name_3"></span></td>
    <td><span name="name_3"></span></td>
    <td><span name="name_"></span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},3);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>
{{end}}
{{end}}
{{end}}

{{set $found 0}}
{{range $k, $v := .SSID}}
{{if eq $v.Port 4}}
<tr  class="">

    <td>4</td>
    <td><span name="name_4">{{$v.Name}}</span></td>
    <td><span name="name_4"></span></td>
    <td><span name="name_{{$v.Url}}">{{$v.Url}}</span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},4);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>
{{set $found 1}}
{{end}}


{{if eq $k $ttt}}
{{if cmp $found 0}}
<tr  class="">

    <td>4</td>
    <td><span name="name_4"></span></td>
    <td><span name="name_4"></span></td>
    <td><span name="name_"></span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},4);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>
{{end}}
{{end}}
{{end}}

{{set $found 0}}
{{range $k, $v := .SSID}}
{{if eq $v.Port 5}}
<tr  class="row_double">

    <td>5</td>
    <td><span name="name_5">{{$v.Name}}</span></td>
    <td><span name="name_5"></span></td>
    <td><span name="name_{{$v.Url}}">{{$v.Url}}</span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},5);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>
{{set $found 1}}
{{end}}


{{if eq $k $ttt}}
{{if cmp $found 0}}
<tr  class="row_double">

    <td>5</td>
    <td><span name="name_5"></span></td>
    <td><span name="name_5"></span></td>
    <td><span name="name_"></span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},5);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>
{{end}}
{{end}}
{{end}}

{{set $found 0}}
{{range $k, $v := .SSID}}
{{if eq $v.Port 6}}
<tr  class="">

    <td>6</td>
    <td><span name="name_6">{{$v.Name}}</span></td>
    <td><span name="name_6"></span></td>
    <td><span name="name_{{$v.Url}}">{{$v.Url}}</span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},6);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>
{{set $found 1}}
{{end}}


{{if eq $k $ttt}}
{{if cmp $found 0}}
<tr  class="">

    <td>6</td>
    <td><span name="name_6"></span></td>
    <td><span name="name_6"></span></td>
    <td><span name="name_"></span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},6);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>
{{end}}
{{end}}
{{end}}

{{set $found 0}}
{{range $k, $v := .SSID}}
{{if eq $v.Port 7}}
<tr  class="row_double">

    <td>7</td>
    <td><span name="name_7">{{$v.Name}}</span></td>
    <td><span name="name_7"></span></td>
    <td><span name="name_{{$v.Url}}">{{$v.Url}}</span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},7);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>
{{set $found 1}}
{{end}}


{{if eq $k $ttt}}
{{if cmp $found 0}}
<tr  class="row_double">

    <td>7</td>
    <td><span name="name_7"></span></td>
    <td><span name="name_7"></span></td>
    <td><span name="name_"></span></td>
    <td>                                            <a href="javascript:show({{$.Device.Id}},7);" class="btn btn-primary btn-xs btn-flat">修改</a>
    </td>                            </tr>
{{end}}

{{end}}

{{end}}

                            </tbody>
                    </table>
                    <!-- /.table -->
                </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <div class="row">
                    <div class="col-sm-6">
                        共 8 条&nbsp;
                        每页 <input type="text" value="20" style="width:30px" onfocus="this.select();"
                                  onblur="$.cookie('_cookie_page_size',this.value,{expires:3650});"
                                  onkeypress="if(event.keyCode==13){$(this).blur();_gotoPage('1');return false;}"/> 条&nbsp;
                        当前 1/1 页 &nbsp;
                    </div>
                    <div class="col-sm-6">
                        <div class="pull-right">
                        <ul class="pagination pagination-sm no-margin">
                            <li class="paginate_button previous disabled">
                                <a href="javascript:void(0);">上一页</a>
                            </li>
                            <li class="paginate_button active"><a href="javascript:void(0);">1</a></li>
                            <li class="paginate_button next disabled">
                                <a href="javascript:void(0);">下一页</a>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
                <script type="text/javascript">
                    function _gotoPage(pageNo) {
                        try{
                            var tableForm = document.getElementById('tableForm');
                            $("input[name=pageNo]").val(pageNo);
                            tableForm.action="v_list";
                            tableForm.onsubmit=null;
//                            $('#queryForm').find("input").each(function(index, item){
//                                $(tableForm).append(item);
//                            });
                            tableForm.submit();
                        } catch(e) {
                            alert('_gotoPage(pageNo)方法出错');
                        }
                    }
                </script>
        </div>
    </div>
</div>
<!-- /.row -->
                            </div>
                        <!-- /.box-body -->
                            <!-- 是否是3.0固件版本-->
                        </form>
                    </div>
                </div>
            </div>
        </div>

<div id="dialog-edit-form" style="display: none;">
    <form id="editForm" class="form-horizontal" method="post" action="o_save_ssid">
        <input type="hidden" id="deviceId" name="deviceId" value=""/>
        <input type="hidden" name="entrance" value="v_list"/>
        <div class="box-body">
            <div class="form-group">
                <label class="col-lg-3 col-sm-3 col-xs-3 control-label"><span class="text-danger">*</span>端口</label>
                <div class="col-lg-9 col-sm-9 col-xs-9">
                    <input type="text" class="form-control digits " maxlength="5" placeholder="端口" id="port1" disabled="disabled">
                    <input type="hidden" id="port2" name="port">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-3 col-xs-3 control-label"><span class="text-danger">*</span>名称</label>
                <div class="col-lg-9 col-sm-9 col-xs-9">
                    <input type="text" class="form-control required " maxlength="32" placeholder="名称" id="name" name="name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-3 col-xs-3 control-label">5G名称</label>
                <div class="col-lg-9 col-sm-9 col-xs-9">
                    <input type="text" class="form-control " maxlength="32" placeholder="5G名称" id="name5g" name="name5g">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-3 col-xs-3 control-label">url类型</label>
                <div class="col-lg-9 col-sm-9 col-xs-9">
                    <select class='form-control' id="urlType" name='urlType' onchange='javascript:changeUrlValue(this.value)'>
                    	<option value='1' selected="selected">远程</option>
                    	<option value='2'>本地</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 col-sm-3 col-xs-3 control-label"><span class="text-danger">*</span>url</label>
                <div class="col-lg-9 col-sm-9 col-xs-9">
                    <input type="text" class="form-control required " maxlength="255" placeholder="url" id="url" name="url">
                </div>
            </div>
            
		        <div class="box-footer">
		            <button type="submit" class="btn btn-primary pull-right btn-flat">保存</button>
		        </div>
        </div>
    </form>
</div>

<script>

    $(function () {
        $("#magicForm").validate();
        $("#editForm").validate();
    });
    
    var remoteUrl = 'http://magicwifi.com.cn/captive/index.html';
    var localUrl = 'http://localhost/index.html';

    function show(deviceId, port) {
    	$.getJSON("v_ajax_edit_ssid", {deviceId:deviceId,port:port}, function(data) {
            $("#deviceId").val(deviceId);
            $("#port1").val(port);
            $("#port2").val(port);
            $("#name").val(data.name);
            $("#name5g").val(data.name5g);
            $("#password").val(data.password);
            var url = data.url;
            if (url == '') {
                url = remoteUrl;
                $("#url").attr('readonly','readonly');
            }else if(url == remoteUrl){
            	$("#url").attr('readonly','readonly');
            }else{
            	$("#url").removeAttr('readonly');
            }
            $("#url").val(url);
            
            var urlType = document.getElementById('urlType');
            for(var i=0;i<urlType.options.length;i++){
            	if(i==0 && url == remoteUrl){
            		urlType.options[i].selected = true;
        	    }else if(i==1 && url != remoteUrl){
        	    	urlType.options[i].selected = true;
        	    }
            }
        });
        var addDialog = document.getElementById('dialog-edit-form');
        var d = dialog({
                           title: '修改',
                           content: addDialog,
                       }).width(400);
        d.showModal();
    }

    function read(id, modelName) {
    	$.confirm(function(){
	    	$.getJSON("v_ajax_read_cfg", {id:id,modelName:modelName}, function(data) {
	    		if(data.success){
	        		for(var i=0; i<data.ssidsList.length; i++){
	            		var magicForm = $("#magicForm");
	            		var name = 'name_'+data.ssidsList[i].port;
	            		if(data.ssidsList[i].name){
	                    	magicForm.find("span[name='"+name+"']").html(data.ssidsList[i].name);
	            		}
	            	}
	        		showMessage("获取成功!", 1000);
	    		}else{
	    			showError(data.errorMsg, 2000);
	    		}
	        });
	    },"提示","确定会覆盖配置");
    }
    function updateCfg(id, modelName) {
    	$.confirm(function(){
    		$.getJSON("v_ajax_update_cfg", {id:id,modelName:modelName}, function(data) {
        		if(data.success){
            		showMessage("下发成功!", 1000);
        		}else{
        			showError("下发失败!" + data.errorMsg, 2000);
        		}
            });
    	},"提示","确定下发会覆盖设备本地配置");
    }

    function changeUrlValue(urlType){
    	if(urlType == '1'){//远程
    		$("#url").val(remoteUrl);
    		$("#url").attr('readonly','readonly');
    	}else{
    		$("#url").val(localUrl);
    		$("#url").removeAttr('readonly');
    	}
    }
</script>

{{end}}