{{define "list_edit"}}
<div class="tab-content">
				<div class="tab-pane active" id="tab_1">
					<div class="row">
						<div class="col-lg-12 col-sm-12 col-xs-12">
							<form id="magicForm" class="form-horizontal" action="o_update" method="post">
							   <input type="hidden" name="pageNo" value=""/>
							   <input type="hidden" name="entrance" value="v_list"/>
<input type="hidden" name="queryProjectName" value=""/><input type="hidden" name="queryDeviceName" value=""/><input type="hidden" name="queryMac" value=""/><input type="hidden" name="queryStatus" value=""/><input type="hidden" name="queryVersionId" value=""/><input type="hidden" name="queryOnlineStatus" value=""/><input type="hidden" name="queryMaterielId" value=""/>							   <div class="box-body">
								   <div class="form-group">
									   <label class="col-lg-4 col-sm-4 col-xs-4 control-label">ID</label>
									   <div class="col-lg-4 col-sm-5 col-xs-8" style="padding-top:7px;">{{.Device.Id}}</div>
								   </div>
								   <div class="form-group">
									   <label class="col-lg-4 col-sm-4 col-xs-4 control-label">物品名</label>
									   <div class="col-lg-4 col-sm-5 col-xs-8" style="padding-top:7px;">
										   {{range $k, $v:= .Models}}
											{{if eq $v.ModelType $.Device.ModelType}}
												{{$v.ModelName}}
											{{end}}
										{{end}}
									   </div>
								   </div>
				
								   <div class="form-group">
									   <label class="col-lg-4 col-sm-4 col-xs-4 control-label">WAN口MAC</label>
									   <div class="col-lg-4 col-sm-5 col-xs-8" style="padding-top:7px;">
										   	{{.Device.Mac}}
									   </div>
								   </div>
									   <div class="form-group">
										   <label class="col-lg-4 col-sm-4 col-xs-12 control-label"><span class="text-danger">*</span>项目</label>
										   <div class="col-lg-4 col-sm-5 col-xs-12">
<select name="project" class="form-control select2">                
{{range $k, $v:= .Projects}}
	{{if eq $v.ID $.Device.ProjectRefer}}
		<option value="{{$v.ID}}" select="selected">{{$v.Name}}</option>
	{{else}}
		<option value="{{$v.ID}}">{{$v.Name}}</option>
	{{end}}
{{end}}
</select>										   </div>
									   </div>
								   <div class="form-group">
									   <label class="col-lg-4 col-sm-4 col-xs-12 control-label"><span class="text-danger">*</span>设备名</label>
									   <div class="col-lg-4 col-sm-5 col-xs-12">
										   <input type="text" class="form-control required" maxlength="32" id="name" placeholder="设备名" name="name" value="{{.Device.Name}}" >
									   </div>
								   </div>

								  <!--
								  <div class="form-group">
									   <label class="col-sm-4 control-label">连接地址</label>
									   <div class="col-sm-4">
										   <input type="text" class="form-control ip" maxlength="15" id="gwHost" placeholder="连接地址" name="gwHost" value="192.168.70.40" disabled="disabled">
									   </div>
								   </div>
								   -->
								   <div class="form-group">
									   <label class="col-lg-4 col-sm-4 col-xs-12 control-label"><span class="text-danger">*</span>切换模式</label>
									   <div class="col-lg-4 col-sm-5 col-xs-12">
<select id="mode" name="mode" class="form-control  required">                
<option value="0" {{if eq .Device.Mode 0}} selected="selected" {{end}}>AP</option>                
<option value="1" {{if eq .Device.Mode 1}} selected="selected" {{end}}>ROUTER</option></select>									   </div>
								   </div>
								   <div class="form-group">
									   <label class="col-lg-4 col-sm-4 col-xs-12 control-label"><span class="text-danger">*</span>设备状态</label>
									   <div class="col-lg-4 col-sm-5 col-xs-12">
										<select id="status" name="status" class="form-control required" disabled="disabled">
											<option value="0" style="display: block;"
											selected="selected">正常</option>
											<option value="1" style="display: block;"
											>故障</option>
											<option value="2" style="display: none;"
											>鉴权失败</option>
											<option value="3" style="display: block;"
											>丢失报废</option>
											<option value="7" style="display: block;"
											>停维</option>
										</select>
									   </div>
								   </div>
								   <div class="form-group">
									   <label class="col-lg-4 col-sm-4 col-xs-4 control-label">版本号</label>
									   <div class="col-lg-4 col-sm-5 col-xs-4" style="padding-top: 7px;margin-bottom: 0;">{{.Device.Version}}</div>
								   </div>
										<div class="form-group">
											<label class="col-lg-4 col-sm-4 col-xs-4 control-label">设备密码</label>
											<div class="col-lg-4 col-sm-5 col-xs-4" style="padding-top: 7px;margin-bottom: 0;">35ixqi)&8[&nbsp;&nbsp;
												<button type="button" class="btn btn-default btn-xs btn-flat copyPwdBtn" id="copyPwdBtn"
														data-clipboard-text="35ixqi)&8[">复制
												</button>
											</div>
										</div>
								   <div class="form-group">
									   <label class="col-lg-4 col-sm-4 col-xs-4 control-label">rclMd5</label>
									   <div class="col-lg-4 col-sm-5 col-xs-4" style="padding-top: 7px;margin-bottom: 0;">
										{{.Device.Md5}}
									   </div>
								   </div>
							   </div>
							   <!-- /.box-body -->
							   <div class="box-footer">
								   <div class="row">
									   <div class="col-sm-12">
										   <input type="hidden" name="id" value="{{.Device.Id}}">
										   <input type="hidden" name="modelName" value="list_edit">
										   <div style="text-align:center">
											   <button type="button" class="btn btn-primary btn-flat" onclick="submitForm({{.Device.Mode}});">保存配置 </button>

										   </div>
									   </div>
								   </div>
								</div>
							   <!-- /.box-footer -->
							</form>
						</div>
					</div>
				</div>
			</div>

{{end}}