{{define "list_qos"}}
<div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <form id="magicForm" class="form-horizontal" action="o_update_config" method="post" onsubmit="return checkQoS();">
                            <input type="hidden" name="pageNo" value=""/>
                            <input type="hidden" name="deviceId" value="{{.Device.Id}}">
                            <input type="hidden" name="entrance" value="v_list"/>
                            <input type="hidden" id="port" name="port" value="0">
	                                <input type="hidden" name="queryProjectName" value=""/>
	                                <input type="hidden" name="queryDeviceName" value=""/>
	                                <input type="hidden" name="queryMac" value="{{.Device.Mac}}"/>
	                                <input type="hidden" name="queryStatus" value=""/>
	                                <input type="hidden" name="queryVersionId" value=""/>
	                                <input type="hidden" name="queryOnlineStatus" value=""/>
	                                <input type="hidden" name="queryMaterielId" value=""/>
                            <div class="box-body">
                                    <input type="hidden" name="multiWan" value="{{.Device.MultiWan}}"/>
                                    <div class="form-group">
                                        <label class="col-lg-4 col-sm-4 col-xs-12 control-label"><span class="text-danger">*</span>终端上行速率(Kb/s)</label>
                                        <div class="col-lg-4 col-sm-5 col-xs-12">
<select name="qosUpRate" class="form-control select2 required"><option value="">--上行速率--</option>                
<option value="128" {{if eq .Qos.UpRate 128}} selected="selected" {{end}}>128Kb</option>                
<option value="256" {{if eq .Qos.UpRate 256}} selected="selected" {{end}}>256Kb</option>                
<option value="512" {{if eq .Qos.UpRate 512}} selected="selected" {{end}}>512Kb</option>                
<option value="1024" {{if eq .Qos.UpRate 1024}} selected="selected" {{end}}>1024Kb</option>
</select>                                        </div>
                                        <span class="text-danger col-lg-4 col-sm-5 col-xs-12" >默认值：256 Kb/s</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 col-sm-4 col-xs-12 control-label"><span class="text-danger">*</span>终端下行速率(Kb/s)</label>
                                        <div class="col-lg-4 col-sm-5 col-xs-12">
<select name="qosDownRate" class="form-control select2 required"><option value="">--下行速率--</option>                
<option value="512" {{if eq .Qos.DownRate 512}} selected="selected" {{end}}>
512Kb</option>                <option value="1024" {{if eq .Qos.DownRate 1024}} selected="selected" {{end}}>
1024Kb</option>                <option value="1536" {{if eq .Qos.DownRate 1536}} selected="selected" {{end}}>
1536Kb</option>                <option value="2048" {{if eq .Qos.DownRate 2048}} selected="selected" {{end}}>
2048Kb</option></select>                                        </div>
                                        <span class="text-danger col-lg-4 col-sm-5 col-xs-12" >默认值：1024 Kb/s</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 col-sm-4 col-xs-12 control-label"><span class="text-danger">*</span>tcp最大连接数 </label>
                                        <div class="col-lg-4 col-sm-5 col-xs-12">
                                            <input type="text" class="form-control required digits" range="100,500" placeholder="tcp最大连接数 " name="qosTcpLimit" value="{{.Qos.TcpLimit}}">
                                        </div>
                                        <span class="text-danger col-lg-4 col-sm-5 col-xs-12" >默认值：200</span>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 col-sm-4 col-xs-12 control-label"><span class="text-danger">*</span>udp最大连接数 </label>
                                        <div class="col-lg-4 col-sm-5 col-xs-12">
                                            <input type="text" class="form-control required digits" range="50,200" placeholder="udp最大连接数 " name="qosUdpLimit" value="{{.Qos.UdpLimit}}">
                                        </div>
                                        <span class="text-danger col-lg-4 col-sm-5 col-xs-12" >默认值：60</span>
                                    </div>

                                        <div class="box-header with-border">
                                            <h3 class="box-title">wan口配置</h3>
                                        </div>

<div class="col-lg-12 col-sm-12 col-xs-12" style="margin-top: 10px;" id="show_wans">

    {{$found := var 0}}
    {{$tt := len .WanQos}}
    {{$ttt := dec $tt}}

    {{range $k, $v := .WanQos}}

    {{if eq $v.Port 0}}
	{{if cmp $found 0}}
    <div class="form-group">


        <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN1口</label>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="1024"{{if eq $v.Up 1024}} selected="selected" {{end}}>
                    1M</option>                <option value="2048"{{if eq $v.Up 2048}} selected="selected" {{end}}>
                    2M</option>                <option value="4096"{{if eq $v.Up 4096}} selected="selected" {{end}}>
                    4M</option>                <option value="8192"{{if eq $v.Up 8192}} selected="selected" {{end}}>
                    8M</option>                <option value="10240" {{if eq $v.Up 10240}} selected="selected" {{end}}>
                    10M</option>                <option value="15360"{{if eq $v.Up 15360}} selected="selected" {{end}}>
                    15M</option>                <option value="20480"{{if eq $v.Up 20480}} selected="selected" {{end}}>
                    20M</option>                <option value="40960"{{if eq $v.Up 40960}} selected="selected" {{end}}>
                    40M</option>                <option value="51200"{{if eq $v.Up 51200}} selected="selected" {{end}}>
                    50M</option>                <option value="102400"{{if eq $v.Up 102400}} selected="selected" {{end}}>
                    100M</option>                <option value="204800"{{if eq $v.Up 204800}} selected="selected" {{end}}>
                    200M</option>                <option value="512000"{{if eq $v.Up 512000}} selected="selected" {{end}}>
                    500M</option></select>                </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="4096"{{if eq $v.Down 4096}} selected="selected" {{end}}>
                    4M</option>                <option value="6144"{{if eq $v.Down 6144}} selected="selected" {{end}}>
                    6M</option>                <option value="8192"{{if eq $v.Down 8192}} selected="selected" {{end}}>
                    8M</option>                <option value="10240"{{if eq $v.Down 10240}} selected="selected" {{end}}>
                    10M</option>                <option value="12288"{{if eq $v.Down 12288}} selected="selected" {{end}}>
                    12M</option>                <option value="20480"{{if eq $v.Down 20480}} selected="selected" {{end}}>
                    20M</option>                <option value="51200"{{if eq $v.Down 51200}} selected="selected" {{end}}>
                    50M</option>                <option value="102400"{{if eq $v.Down 102400}} selected="selected" {{end}}>
                    100M</option>                <option value="153600"{{if eq $v.Down 153600}} selected="selected" {{end}}>
                    150M</option>                <option value="204800" {{if eq $v.Down 204800}} selected="selected" {{end}}>
                    200M</option>                <option value="307200"{{if eq $v.Down 307200}} selected="selected" {{end}}>
                    300M</option>                <option value="409600"{{if eq $v.Down 409600}} selected="selected" {{end}}>
                    400M</option>                <option value="512000" {{if eq $v.Down 512000}} selected="selected" {{end}}>
                    500M</option></select>                </div>
        <input type="hidden" name="ports" id="ports_{{$v.Port}}" value="{{$v.Port}}">
        <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

    </div>
    {{set $found 1}}
    {{end}}
	{{end}}

    {{if eq $k $ttt}}
    {{if cmp $found 0}}
    <div class="form-group">


        <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN1口</label>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="1024">
                    1M</option>                <option value="2048">
                    2M</option>                <option value="4096">
                    4M</option>                <option value="8192">
                    8M</option>                <option value="10240">
                    10M</option>                <option value="15360">
                    15M</option>                <option value="20480">
                    20M</option>                <option value="40960">
                    40M</option>                <option value="51200">
                    50M</option>                <option value="102400">
                    100M</option>                <option value="204800">
                    200M</option>                <option value="512000">
                    500M</option></select>                </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="4096">
                    4M</option>                <option value="6144">
                    6M</option>                <option value="8192">
                    8M</option>                <option value="10240">
                    10M</option>                <option value="12288">
                    12M</option>                <option value="20480">
                    20M</option>                <option value="51200">
                    50M</option>                <option value="102400">
                    100M</option>                <option value="153600">
                    150M</option>                <option value="204800">
                    200M</option>                <option value="307200">
                    300M</option>                <option value="409600">
                    400M</option>                <option value="512000">
                    500M</option></select>                </div>
        <input type="hidden" name="ports" id="ports_0" value="0">
        <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

    </div>
    {{end}}
    {{end}}


    {{end}}

    {{set $found 0}}
    {{range $k, $v := .WanQos}}

    {{if eq $v.Port 1}}
	{{if cmp $found 0}}
    <div class="form-group">


        <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN2口</label>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="1024"{{if eq $v.Up 1024}} selected="selected" {{end}}>
                    1M</option>                <option value="2048"{{if eq $v.Up 2048}} selected="selected" {{end}}>
                    2M</option>                <option value="4096"{{if eq $v.Up 4096}} selected="selected" {{end}}>
                    4M</option>                <option value="8192"{{if eq $v.Up 8192}} selected="selected" {{end}}>
                    8M</option>                <option value="10240" {{if eq $v.Up 10240}} selected="selected" {{end}}>
                    10M</option>                <option value="15360"{{if eq $v.Up 15360}} selected="selected" {{end}}>
                    15M</option>                <option value="20480"{{if eq $v.Up 20480}} selected="selected" {{end}}>
                    20M</option>                <option value="40960"{{if eq $v.Up 40960}} selected="selected" {{end}}>
                    40M</option>                <option value="51200"{{if eq $v.Up 51200}} selected="selected" {{end}}>
                    50M</option>                <option value="102400"{{if eq $v.Up 102400}} selected="selected" {{end}}>
                    100M</option>                <option value="204800"{{if eq $v.Up 204800}} selected="selected" {{end}}>
                    200M</option>                <option value="512000"{{if eq $v.Up 512000}} selected="selected" {{end}}>
                    500M</option></select>                </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="4096"{{if eq $v.Down 4096}} selected="selected" {{end}}>
                    4M</option>                <option value="6144"{{if eq $v.Down 6144}} selected="selected" {{end}}>
                    6M</option>                <option value="8192"{{if eq $v.Down 8192}} selected="selected" {{end}}>
                    8M</option>                <option value="10240"{{if eq $v.Down 10240}} selected="selected" {{end}}>
                    10M</option>                <option value="12288"{{if eq $v.Down 12288}} selected="selected" {{end}}>
                    12M</option>                <option value="20480"{{if eq $v.Down 20480}} selected="selected" {{end}}>
                    20M</option>                <option value="51200"{{if eq $v.Down 51200}} selected="selected" {{end}}>
                    50M</option>                <option value="102400"{{if eq $v.Down 102400}} selected="selected" {{end}}>
                    100M</option>                <option value="153600"{{if eq $v.Down 153600}} selected="selected" {{end}}>
                    150M</option>                <option value="204800" {{if eq $v.Down 204800}} selected="selected" {{end}}>
                    200M</option>                <option value="307200"{{if eq $v.Down 307200}} selected="selected" {{end}}>
                    300M</option>                <option value="409600"{{if eq $v.Down 409600}} selected="selected" {{end}}>
                    400M</option>                <option value="512000" {{if eq $v.Down 512000}} selected="selected" {{end}}>
                    500M</option></select>                </div>
        <input type="hidden" name="ports" id="ports_{{$v.Port}}" value="{{$v.Port}}">
        <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

    </div>
    {{set $found 1}}
    {{end}}
	{{end}}

    {{if eq $k $ttt}}
    {{if cmp $found 0}}
    <div class="form-group">


        <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN2口</label>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="1024">
                    1M</option>                <option value="2048">
                    2M</option>                <option value="4096">
                    4M</option>                <option value="8192">
                    8M</option>                <option value="10240">
                    10M</option>                <option value="15360">
                    15M</option>                <option value="20480">
                    20M</option>                <option value="40960">
                    40M</option>                <option value="51200">
                    50M</option>                <option value="102400">
                    100M</option>                <option value="204800">
                    200M</option>                <option value="512000">
                    500M</option></select>                </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="4096">
                    4M</option>                <option value="6144">
                    6M</option>                <option value="8192">
                    8M</option>                <option value="10240">
                    10M</option>                <option value="12288">
                    12M</option>                <option value="20480">
                    20M</option>                <option value="51200">
                    50M</option>                <option value="102400">
                    100M</option>                <option value="153600">
                    150M</option>                <option value="204800">
                    200M</option>                <option value="307200">
                    300M</option>                <option value="409600">
                    400M</option>                <option value="512000">
                    500M</option></select>                </div>
        <input type="hidden" name="ports" id="ports_1" value="1">
        <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

    </div>
    {{end}}
    {{end}}


    {{end}}

    {{set $found 0}}
    {{range $k, $v := .WanQos}}

    {{if eq $v.Port 2}}
	{{if cmp $found 0}}
    <div class="form-group">


        <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN3口</label>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="1024"{{if eq $v.Up 1024}} selected="selected" {{end}}>
                    1M</option>                <option value="2048"{{if eq $v.Up 2048}} selected="selected" {{end}}>
                    2M</option>                <option value="4096"{{if eq $v.Up 4096}} selected="selected" {{end}}>
                    4M</option>                <option value="8192"{{if eq $v.Up 8192}} selected="selected" {{end}}>
                    8M</option>                <option value="10240" {{if eq $v.Up 10240}} selected="selected" {{end}}>
                    10M</option>                <option value="15360"{{if eq $v.Up 15360}} selected="selected" {{end}}>
                    15M</option>                <option value="20480"{{if eq $v.Up 20480}} selected="selected" {{end}}>
                    20M</option>                <option value="40960"{{if eq $v.Up 40960}} selected="selected" {{end}}>
                    40M</option>                <option value="51200"{{if eq $v.Up 51200}} selected="selected" {{end}}>
                    50M</option>                <option value="102400"{{if eq $v.Up 102400}} selected="selected" {{end}}>
                    100M</option>                <option value="204800"{{if eq $v.Up 204800}} selected="selected" {{end}}>
                    200M</option>                <option value="512000"{{if eq $v.Up 512000}} selected="selected" {{end}}>
                    500M</option></select>                </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="4096"{{if eq $v.Down 4096}} selected="selected" {{end}}>
                    4M</option>                <option value="6144"{{if eq $v.Down 6144}} selected="selected" {{end}}>
                    6M</option>                <option value="8192"{{if eq $v.Down 8192}} selected="selected" {{end}}>
                    8M</option>                <option value="10240"{{if eq $v.Down 10240}} selected="selected" {{end}}>
                    10M</option>                <option value="12288"{{if eq $v.Down 12288}} selected="selected" {{end}}>
                    12M</option>                <option value="20480"{{if eq $v.Down 20480}} selected="selected" {{end}}>
                    20M</option>                <option value="51200"{{if eq $v.Down 51200}} selected="selected" {{end}}>
                    50M</option>                <option value="102400"{{if eq $v.Down 102400}} selected="selected" {{end}}>
                    100M</option>                <option value="153600"{{if eq $v.Down 153600}} selected="selected" {{end}}>
                    150M</option>                <option value="204800" {{if eq $v.Down 204800}} selected="selected" {{end}}>
                    200M</option>                <option value="307200"{{if eq $v.Down 307200}} selected="selected" {{end}}>
                    300M</option>                <option value="409600"{{if eq $v.Down 409600}} selected="selected" {{end}}>
                    400M</option>                <option value="512000" {{if eq $v.Down 512000}} selected="selected" {{end}}>
                    500M</option></select>                </div>
        <input type="hidden" name="ports" id="ports_{{$v.Port}}" value="{{$v.Port}}">
        <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

    </div>
    {{set $found 1}}
    {{end}}
	{{end}}

    {{if eq $k $ttt}}
    {{if cmp $found 0}}
    <div class="form-group">


        <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN3口</label>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="1024">
                    1M</option>                <option value="2048">
                    2M</option>                <option value="4096">
                    4M</option>                <option value="8192">
                    8M</option>                <option value="10240">
                    10M</option>                <option value="15360">
                    15M</option>                <option value="20480">
                    20M</option>                <option value="40960">
                    40M</option>                <option value="51200">
                    50M</option>                <option value="102400">
                    100M</option>                <option value="204800">
                    200M</option>                <option value="512000">
                    500M</option></select>                </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="4096">
                    4M</option>                <option value="6144">
                    6M</option>                <option value="8192">
                    8M</option>                <option value="10240">
                    10M</option>                <option value="12288">
                    12M</option>                <option value="20480">
                    20M</option>                <option value="51200">
                    50M</option>                <option value="102400">
                    100M</option>                <option value="153600">
                    150M</option>                <option value="204800">
                    200M</option>                <option value="307200">
                    300M</option>                <option value="409600">
                    400M</option>                <option value="512000">
                    500M</option></select>                </div>
        <input type="hidden" name="ports" id="ports_2" value="2">
        <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

    </div>
    {{end}}
    {{end}}


    {{end}}


    {{set $found 0}}
    {{range $k, $v := .WanQos}}

    {{if eq $v.Port 3}}
	{{if cmp $found 0}}
    <div class="form-group">


        <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN4口</label>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="1024"{{if eq $v.Up 1024}} selected="selected" {{end}}>
                    1M</option>                <option value="2048"{{if eq $v.Up 2048}} selected="selected" {{end}}>
                    2M</option>                <option value="4096"{{if eq $v.Up 4096}} selected="selected" {{end}}>
                    4M</option>                <option value="8192"{{if eq $v.Up 8192}} selected="selected" {{end}}>
                    8M</option>                <option value="10240" {{if eq $v.Up 10240}} selected="selected" {{end}}>
                    10M</option>                <option value="15360"{{if eq $v.Up 15360}} selected="selected" {{end}}>
                    15M</option>                <option value="20480"{{if eq $v.Up 20480}} selected="selected" {{end}}>
                    20M</option>                <option value="40960"{{if eq $v.Up 40960}} selected="selected" {{end}}>
                    40M</option>                <option value="51200"{{if eq $v.Up 51200}} selected="selected" {{end}}>
                    50M</option>                <option value="102400"{{if eq $v.Up 102400}} selected="selected" {{end}}>
                    100M</option>                <option value="204800"{{if eq $v.Up 204800}} selected="selected" {{end}}>
                    200M</option>                <option value="512000"{{if eq $v.Up 512000}} selected="selected" {{end}}>
                    500M</option></select>                </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="4096"{{if eq $v.Down 4096}} selected="selected" {{end}}>
                    4M</option>                <option value="6144"{{if eq $v.Down 6144}} selected="selected" {{end}}>
                    6M</option>                <option value="8192"{{if eq $v.Down 8192}} selected="selected" {{end}}>
                    8M</option>                <option value="10240"{{if eq $v.Down 10240}} selected="selected" {{end}}>
                    10M</option>                <option value="12288"{{if eq $v.Down 12288}} selected="selected" {{end}}>
                    12M</option>                <option value="20480"{{if eq $v.Down 20480}} selected="selected" {{end}}>
                    20M</option>                <option value="51200"{{if eq $v.Down 51200}} selected="selected" {{end}}>
                    50M</option>                <option value="102400"{{if eq $v.Down 102400}} selected="selected" {{end}}>
                    100M</option>                <option value="153600"{{if eq $v.Down 153600}} selected="selected" {{end}}>
                    150M</option>                <option value="204800" {{if eq $v.Down 204800}} selected="selected" {{end}}>
                    200M</option>                <option value="307200"{{if eq $v.Down 307200}} selected="selected" {{end}}>
                    300M</option>                <option value="409600"{{if eq $v.Down 409600}} selected="selected" {{end}}>
                    400M</option>                <option value="512000" {{if eq $v.Down 512000}} selected="selected" {{end}}>
                    500M</option></select>                </div>
        <input type="hidden" name="ports" id="ports_{{$v.Port}}" value="{{$v.Port}}">
        <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

    </div>
    {{set $found 1}}
    {{end}}
	{{end}}

    {{if eq $k $ttt}}
    {{if cmp $found 0}}
    <div class="form-group">


        <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN4口</label>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="1024">
                    1M</option>                <option value="2048">
                    2M</option>                <option value="4096">
                    4M</option>                <option value="8192">
                    8M</option>                <option value="10240">
                    10M</option>                <option value="15360">
                    15M</option>                <option value="20480">
                    20M</option>                <option value="40960">
                    40M</option>                <option value="51200">
                    50M</option>                <option value="102400">
                    100M</option>                <option value="204800">
                    200M</option>                <option value="512000">
                    500M</option></select>                </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="4096">
                    4M</option>                <option value="6144">
                    6M</option>                <option value="8192">
                    8M</option>                <option value="10240">
                    10M</option>                <option value="12288">
                    12M</option>                <option value="20480">
                    20M</option>                <option value="51200">
                    50M</option>                <option value="102400">
                    100M</option>                <option value="153600">
                    150M</option>                <option value="204800">
                    200M</option>                <option value="307200">
                    300M</option>                <option value="409600">
                    400M</option>                <option value="512000">
                    500M</option></select>                </div>
        <input type="hidden" name="ports" id="ports_3" value="3">
        <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

    </div>
    {{end}}
    {{end}}


    {{end}}

    {{set $found 0}}
    {{range $k, $v := .WanQos}}

    {{if eq $v.Port 4}}
	{{if cmp $found 0}}
    <div class="form-group">


        <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN5口</label>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="1024"{{if eq $v.Up 1024}} selected="selected" {{end}}>
                    1M</option>                <option value="2048"{{if eq $v.Up 2048}} selected="selected" {{end}}>
                    2M</option>                <option value="4096"{{if eq $v.Up 4096}} selected="selected" {{end}}>
                    4M</option>                <option value="8192"{{if eq $v.Up 8192}} selected="selected" {{end}}>
                    8M</option>                <option value="10240" {{if eq $v.Up 10240}} selected="selected" {{end}}>
                    10M</option>                <option value="15360"{{if eq $v.Up 15360}} selected="selected" {{end}}>
                    15M</option>                <option value="20480"{{if eq $v.Up 20480}} selected="selected" {{end}}>
                    20M</option>                <option value="40960"{{if eq $v.Up 40960}} selected="selected" {{end}}>
                    40M</option>                <option value="51200"{{if eq $v.Up 51200}} selected="selected" {{end}}>
                    50M</option>                <option value="102400"{{if eq $v.Up 102400}} selected="selected" {{end}}>
                    100M</option>                <option value="204800"{{if eq $v.Up 204800}} selected="selected" {{end}}>
                    200M</option>                <option value="512000"{{if eq $v.Up 512000}} selected="selected" {{end}}>
                    500M</option></select>                </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="4096"{{if eq $v.Down 4096}} selected="selected" {{end}}>
                    4M</option>                <option value="6144"{{if eq $v.Down 6144}} selected="selected" {{end}}>
                    6M</option>                <option value="8192"{{if eq $v.Down 8192}} selected="selected" {{end}}>
                    8M</option>                <option value="10240"{{if eq $v.Down 10240}} selected="selected" {{end}}>
                    10M</option>                <option value="12288"{{if eq $v.Down 12288}} selected="selected" {{end}}>
                    12M</option>                <option value="20480"{{if eq $v.Down 20480}} selected="selected" {{end}}>
                    20M</option>                <option value="51200"{{if eq $v.Down 51200}} selected="selected" {{end}}>
                    50M</option>                <option value="102400"{{if eq $v.Down 102400}} selected="selected" {{end}}>
                    100M</option>                <option value="153600"{{if eq $v.Down 153600}} selected="selected" {{end}}>
                    150M</option>                <option value="204800" {{if eq $v.Down 204800}} selected="selected" {{end}}>
                    200M</option>                <option value="307200"{{if eq $v.Down 307200}} selected="selected" {{end}}>
                    300M</option>                <option value="409600"{{if eq $v.Down 409600}} selected="selected" {{end}}>
                    400M</option>                <option value="512000" {{if eq $v.Down 512000}} selected="selected" {{end}}>
                    500M</option></select>                </div>
        <input type="hidden" name="ports" id="ports_{{$v.Port}}" value="{{$v.Port}}">
        <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

    </div>
    {{set $found 1}}
    {{end}}
	{{end}}

    {{if eq $k $ttt}}
    {{if cmp $found 0}}
    <div class="form-group">


        <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN5口</label>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="1024">
                    1M</option>                <option value="2048">
                    2M</option>                <option value="4096">
                    4M</option>                <option value="8192">
                    8M</option>                <option value="10240">
                    10M</option>                <option value="15360">
                    15M</option>                <option value="20480">
                    20M</option>                <option value="40960">
                    40M</option>                <option value="51200">
                    50M</option>                <option value="102400">
                    100M</option>                <option value="204800">
                    200M</option>                <option value="512000">
                    500M</option></select>                </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
                <option value="0">
                    不限速</option>                <option value="4096">
                    4M</option>                <option value="6144">
                    6M</option>                <option value="8192">
                    8M</option>                <option value="10240">
                    10M</option>                <option value="12288">
                    12M</option>                <option value="20480">
                    20M</option>                <option value="51200">
                    50M</option>                <option value="102400">
                    100M</option>                <option value="153600">
                    150M</option>                <option value="204800">
                    200M</option>                <option value="307200">
                    300M</option>                <option value="409600">
                    400M</option>                <option value="512000">
                    500M</option></select>                </div>
        <input type="hidden" name="ports" id="ports_4" value="4">
        <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

    </div>
    {{end}}
    {{end}}


    {{end}}



<!--        <div class="form-group">
            <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN2口</label>
                <div class="col-lg-2 col-sm-2 col-xs-12">
<select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>                
<option value="0">
不限速</option>                <option value="1024">
1M</option>                <option value="2048">
2M</option>                <option value="4096">
4M</option>                <option value="8192">
8M</option>                <option value="10240">
10M</option>                <option value="15360">
15M</option>                <option value="20480">
20M</option>                <option value="40960">
40M</option>                <option value="51200">
50M</option>                <option value="102400">
100M</option>                <option value="204800">
200M</option>                <option value="512000">
500M</option></select>                </div>
                <div class="col-lg-2 col-sm-2 col-xs-12">
<select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>                
<option value="0">
不限速</option>                <option value="4096">
4M</option>                <option value="6144">
6M</option>                <option value="8192">
8M</option>                <option value="10240">
10M</option>                <option value="12288">
12M</option>                <option value="20480">
20M</option>                <option value="51200">
50M</option>                <option value="102400">
100M</option>                <option value="153600">
150M</option>                <option value="204800">
200M</option>                <option value="307200">
300M</option>                <option value="409600">
400M</option>                <option value="512000">
500M</option></select>                </div>
            <input type="hidden" name="ports" id="ports_1" value="1">
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN3口</label>
                <div class="col-lg-2 col-sm-2 col-xs-12">
<select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>                
<option value="0">
不限速</option>                <option value="1024">
1M</option>                <option value="2048">
2M</option>                <option value="4096">
4M</option>                <option value="8192" selected="selected">
8M</option>                <option value="10240">
10M</option>                <option value="15360">
15M</option>                <option value="20480">
20M</option>                <option value="40960">
40M</option>                <option value="51200">
50M</option>                <option value="102400">
100M</option>                <option value="204800">
200M</option>                <option value="512000">
500M</option></select>                </div>
                <div class="col-lg-2 col-sm-2 col-xs-12">
<select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>                
<option value="0">
不限速</option>                <option value="4096">
4M</option>                <option value="6144">
6M</option>                <option value="8192">
8M</option>                <option value="10240">
10M</option>                <option value="12288">
12M</option>                <option value="20480">
20M</option>                <option value="51200">
50M</option>                <option value="102400" selected="selected">
100M</option>                <option value="153600">
150M</option>                <option value="204800">
200M</option>                <option value="307200">
300M</option>                <option value="409600">
400M</option>                <option value="512000">
500M</option></select>                </div>
            <input type="hidden" name="ports" id="ports_2" value="2">
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN4口</label>
                <div class="col-lg-2 col-sm-2 col-xs-12">
<select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>                
<option value="0">
不限速</option>                <option value="1024">
1M</option>                <option value="2048">
2M</option>                <option value="4096">
4M</option>                <option value="8192">
8M</option>                <option value="10240">
10M</option>                <option value="15360">
15M</option>                <option value="20480">
20M</option>                <option value="40960">
40M</option>                <option value="51200">
50M</option>                <option value="102400">
100M</option>                <option value="204800">
200M</option>                <option value="512000">
500M</option></select>                </div>
                <div class="col-lg-2 col-sm-2 col-xs-12">
<select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>                
<option value="0">
不限速</option>                <option value="4096">
4M</option>                <option value="6144">
6M</option>                <option value="8192">
8M</option>                <option value="10240">
10M</option>                <option value="12288">
12M</option>                <option value="20480">
20M</option>                <option value="51200">
50M</option>                <option value="102400">
100M</option>                <option value="153600">
150M</option>                <option value="204800">
200M</option>                <option value="307200">
300M</option>                <option value="409600">
400M</option>                <option value="512000">
500M</option></select>                </div>
            <input type="hidden" name="ports" id="ports_3" value="3">
        </div>
        <div class="form-group">
            <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN5口</label>
                <div class="col-lg-2 col-sm-2 col-xs-12">
<select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>              
<option value="0">
不限速</option>                <option value="1024">
1M</option>                <option value="2048">
2M</option>                <option value="4096">
4M</option>                <option value="8192">
8M</option>                <option value="10240">
10M</option>                <option value="15360">
15M</option>                <option value="20480">
20M</option>                <option value="40960">
40M</option>                <option value="51200">
50M</option>                <option value="102400">
100M</option>                <option value="204800">
200M</option>                <option value="512000">
500M</option>

</select>                </div>
                <div class="col-lg-2 col-sm-2 col-xs-12">
<select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>               
<option value="0">
不限速</option>                <option value="4096">
4M</option>                <option value="6144">
6M</option>                <option value="8192">
8M</option>                <option value="10240">
10M</option>                <option value="12288">
12M</option>                <option value="20480">
20M</option>                <option value="51200">
50M</option>                <option value="102400">
100M</option>                <option value="153600">
150M</option>                <option value="204800">
200M</option>                <option value="307200">
300M</option>                <option value="409600">
400M</option>                <option value="512000">
500M</option>

</select>                </div>
            <input type="hidden" name="ports" id="ports_4" value="4">
        </div>-->
</div>

                            </div>
                            <!-- /.box-body -->
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12 col-xs-12">
                                            <input type="hidden" id="deviceId" name="deviceId" value="{{.Device.Id}}">
                                            <input type="hidden" name="modelName" value="list_qos">
                                            <div style="text-align:center">
                                                <!-- 是否是3.0固件版本-->
                                                <button type="submit" class="btn btn-primary btn-flat">保存配置</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{{end}}