
{{range $k, $v := .WanQos}}

{{if eq $v.Port eq 1}}
<div class="form-group">


    <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN{{$v.Port}}口</label>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
            <option value="0">
                不限速</option>                <option value="1024"{{if eq $v.Up 1024}} selected="selected" {{end}}>
                1M</option>                <option value="2048"{{if eq $v.Up 2048}} selected="selected" {{end}}>
                2M</option>                <option value="4096"{{if eq $v.Up 4096}} selected="selected" {{end}}>
                4M</option>                <option value="8192"{{if eq $v.Up 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240" {{if eq $v.Up 10240}} selected="selected" {{end}}>
                10M</option>                <option value="15360"{{if eq $v.Up 15360}} selected="selected" {{end}}>
                15M</option>                <option value="20480"{{if eq $v.Up 20480}} selected="selected" {{end}}>
                20M</option>                <option value="40960"{{if eq $v.Up 40960}} selected="selected" {{end}}>
                40M</option>                <option value="51200"{{if eq $v.Up 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Up 102400}} selected="selected" {{end}}>
                100M</option>                <option value="204800"{{if eq $v.Up 204800}} selected="selected" {{end}}>
                200M</option>                <option value="512000"{{if eq $v.Up 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
            <option value="0">
                不限速</option>                <option value="4096"{{if eq $v.Down 4096}} selected="selected" {{end}}>
                4M</option>                <option value="6144"{{if eq $v.Down 6144}} selected="selected" {{end}}>
                6M</option>                <option value="8192"{{if eq $v.Down 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240"{{if eq $v.Down 10240}} selected="selected" {{end}}>
                10M</option>                <option value="12288"{{if eq $v.Down 12288}} selected="selected" {{end}}>
                12M</option>                <option value="20480"{{if eq $v.Down 20480}} selected="selected" {{end}}>
                20M</option>                <option value="51200"{{if eq $v.Down 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Down 102400}} selected="selected" {{end}}>
                100M</option>                <option value="153600"{{if eq $v.Down 153600}} selected="selected" {{end}}>
                150M</option>                <option value="204800" {{if eq $v.Down 204800}} selected="selected" {{end}}>
                200M</option>                <option value="307200"{{if eq $v.Down 307200}} selected="selected" {{end}}>
                300M</option>                <option value="409600"{{if eq $v.Down 409600}} selected="selected" {{end}}>
                400M</option>                <option value="512000" {{if eq $v.Down 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <input type="hidden" name="ports" id="ports_{{$v.Port}}" value="{{$v.Port}}">
    <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

</div>
{{set $found 1}}
{{end}}

{{if eq $k $ttt}}
{{if cmp $found 0}}
<div class="form-group">


    <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN{{$v.Port}}口</label>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
            <option value="0">
                不限速</option>                <option value="1024"{{if eq $v.Up 1024}} selected="selected" {{end}}>
                1M</option>                <option value="2048"{{if eq $v.Up 2048}} selected="selected" {{end}}>
                2M</option>                <option value="4096"{{if eq $v.Up 4096}} selected="selected" {{end}}>
                4M</option>                <option value="8192"{{if eq $v.Up 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240" {{if eq $v.Up 10240}} selected="selected" {{end}}>
                10M</option>                <option value="15360"{{if eq $v.Up 15360}} selected="selected" {{end}}>
                15M</option>                <option value="20480"{{if eq $v.Up 20480}} selected="selected" {{end}}>
                20M</option>                <option value="40960"{{if eq $v.Up 40960}} selected="selected" {{end}}>
                40M</option>                <option value="51200"{{if eq $v.Up 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Up 102400}} selected="selected" {{end}}>
                100M</option>                <option value="204800"{{if eq $v.Up 204800}} selected="selected" {{end}}>
                200M</option>                <option value="512000"{{if eq $v.Up 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
            <option value="0">
                不限速</option>                <option value="4096"{{if eq $v.Down 4096}} selected="selected" {{end}}>
                4M</option>                <option value="6144"{{if eq $v.Down 6144}} selected="selected" {{end}}>
                6M</option>                <option value="8192"{{if eq $v.Down 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240"{{if eq $v.Down 10240}} selected="selected" {{end}}>
                10M</option>                <option value="12288"{{if eq $v.Down 12288}} selected="selected" {{end}}>
                12M</option>                <option value="20480"{{if eq $v.Down 20480}} selected="selected" {{end}}>
                20M</option>                <option value="51200"{{if eq $v.Down 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Down 102400}} selected="selected" {{end}}>
                100M</option>                <option value="153600"{{if eq $v.Down 153600}} selected="selected" {{end}}>
                150M</option>                <option value="204800" {{if eq $v.Down 204800}} selected="selected" {{end}}>
                200M</option>                <option value="307200"{{if eq $v.Down 307200}} selected="selected" {{end}}>
                300M</option>                <option value="409600"{{if eq $v.Down 409600}} selected="selected" {{end}}>
                400M</option>                <option value="512000" {{if eq $v.Down 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <input type="hidden" name="ports" id="ports_0" value="0">
    <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

</div>
{{end}}
{{end}}


{{end}}

{{range $k, $v := .WanQos}}

{{if eq $v.Port eq 2}}
<div class="form-group">


    <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN{{$v.Port}}口</label>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
            <option value="0">
                不限速</option>                <option value="1024"{{if eq $v.Up 1024}} selected="selected" {{end}}>
                1M</option>                <option value="2048"{{if eq $v.Up 2048}} selected="selected" {{end}}>
                2M</option>                <option value="4096"{{if eq $v.Up 4096}} selected="selected" {{end}}>
                4M</option>                <option value="8192"{{if eq $v.Up 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240" {{if eq $v.Up 10240}} selected="selected" {{end}}>
                10M</option>                <option value="15360"{{if eq $v.Up 15360}} selected="selected" {{end}}>
                15M</option>                <option value="20480"{{if eq $v.Up 20480}} selected="selected" {{end}}>
                20M</option>                <option value="40960"{{if eq $v.Up 40960}} selected="selected" {{end}}>
                40M</option>                <option value="51200"{{if eq $v.Up 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Up 102400}} selected="selected" {{end}}>
                100M</option>                <option value="204800"{{if eq $v.Up 204800}} selected="selected" {{end}}>
                200M</option>                <option value="512000"{{if eq $v.Up 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
            <option value="0">
                不限速</option>                <option value="4096"{{if eq $v.Down 4096}} selected="selected" {{end}}>
                4M</option>                <option value="6144"{{if eq $v.Down 6144}} selected="selected" {{end}}>
                6M</option>                <option value="8192"{{if eq $v.Down 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240"{{if eq $v.Down 10240}} selected="selected" {{end}}>
                10M</option>                <option value="12288"{{if eq $v.Down 12288}} selected="selected" {{end}}>
                12M</option>                <option value="20480"{{if eq $v.Down 20480}} selected="selected" {{end}}>
                20M</option>                <option value="51200"{{if eq $v.Down 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Down 102400}} selected="selected" {{end}}>
                100M</option>                <option value="153600"{{if eq $v.Down 153600}} selected="selected" {{end}}>
                150M</option>                <option value="204800" {{if eq $v.Down 204800}} selected="selected" {{end}}>
                200M</option>                <option value="307200"{{if eq $v.Down 307200}} selected="selected" {{end}}>
                300M</option>                <option value="409600"{{if eq $v.Down 409600}} selected="selected" {{end}}>
                400M</option>                <option value="512000" {{if eq $v.Down 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <input type="hidden" name="ports" id="ports_{{$v.Port}}" value="{{$v.Port}}">
    <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

</div>
{{set $found 1}}
{{end}}

{{if eq $k $ttt}}
{{if cmp $found 0}}
<div class="form-group">


    <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN{{$v.Port}}口</label>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
            <option value="0">
                不限速</option>                <option value="1024"{{if eq $v.Up 1024}} selected="selected" {{end}}>
                1M</option>                <option value="2048"{{if eq $v.Up 2048}} selected="selected" {{end}}>
                2M</option>                <option value="4096"{{if eq $v.Up 4096}} selected="selected" {{end}}>
                4M</option>                <option value="8192"{{if eq $v.Up 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240" {{if eq $v.Up 10240}} selected="selected" {{end}}>
                10M</option>                <option value="15360"{{if eq $v.Up 15360}} selected="selected" {{end}}>
                15M</option>                <option value="20480"{{if eq $v.Up 20480}} selected="selected" {{end}}>
                20M</option>                <option value="40960"{{if eq $v.Up 40960}} selected="selected" {{end}}>
                40M</option>                <option value="51200"{{if eq $v.Up 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Up 102400}} selected="selected" {{end}}>
                100M</option>                <option value="204800"{{if eq $v.Up 204800}} selected="selected" {{end}}>
                200M</option>                <option value="512000"{{if eq $v.Up 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
            <option value="0">
                不限速</option>                <option value="4096"{{if eq $v.Down 4096}} selected="selected" {{end}}>
                4M</option>                <option value="6144"{{if eq $v.Down 6144}} selected="selected" {{end}}>
                6M</option>                <option value="8192"{{if eq $v.Down 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240"{{if eq $v.Down 10240}} selected="selected" {{end}}>
                10M</option>                <option value="12288"{{if eq $v.Down 12288}} selected="selected" {{end}}>
                12M</option>                <option value="20480"{{if eq $v.Down 20480}} selected="selected" {{end}}>
                20M</option>                <option value="51200"{{if eq $v.Down 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Down 102400}} selected="selected" {{end}}>
                100M</option>                <option value="153600"{{if eq $v.Down 153600}} selected="selected" {{end}}>
                150M</option>                <option value="204800" {{if eq $v.Down 204800}} selected="selected" {{end}}>
                200M</option>                <option value="307200"{{if eq $v.Down 307200}} selected="selected" {{end}}>
                300M</option>                <option value="409600"{{if eq $v.Down 409600}} selected="selected" {{end}}>
                400M</option>                <option value="512000" {{if eq $v.Down 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <input type="hidden" name="ports" id="ports_0" value="0">
    <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

</div>
{{end}}
{{end}}


{{end}}

{{range $k, $v := .WanQos}}

{{if eq $v.Port eq 3}}
<div class="form-group">


    <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN{{$v.Port}}口</label>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
            <option value="0">
                不限速</option>                <option value="1024"{{if eq $v.Up 1024}} selected="selected" {{end}}>
                1M</option>                <option value="2048"{{if eq $v.Up 2048}} selected="selected" {{end}}>
                2M</option>                <option value="4096"{{if eq $v.Up 4096}} selected="selected" {{end}}>
                4M</option>                <option value="8192"{{if eq $v.Up 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240" {{if eq $v.Up 10240}} selected="selected" {{end}}>
                10M</option>                <option value="15360"{{if eq $v.Up 15360}} selected="selected" {{end}}>
                15M</option>                <option value="20480"{{if eq $v.Up 20480}} selected="selected" {{end}}>
                20M</option>                <option value="40960"{{if eq $v.Up 40960}} selected="selected" {{end}}>
                40M</option>                <option value="51200"{{if eq $v.Up 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Up 102400}} selected="selected" {{end}}>
                100M</option>                <option value="204800"{{if eq $v.Up 204800}} selected="selected" {{end}}>
                200M</option>                <option value="512000"{{if eq $v.Up 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
            <option value="0">
                不限速</option>                <option value="4096"{{if eq $v.Down 4096}} selected="selected" {{end}}>
                4M</option>                <option value="6144"{{if eq $v.Down 6144}} selected="selected" {{end}}>
                6M</option>                <option value="8192"{{if eq $v.Down 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240"{{if eq $v.Down 10240}} selected="selected" {{end}}>
                10M</option>                <option value="12288"{{if eq $v.Down 12288}} selected="selected" {{end}}>
                12M</option>                <option value="20480"{{if eq $v.Down 20480}} selected="selected" {{end}}>
                20M</option>                <option value="51200"{{if eq $v.Down 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Down 102400}} selected="selected" {{end}}>
                100M</option>                <option value="153600"{{if eq $v.Down 153600}} selected="selected" {{end}}>
                150M</option>                <option value="204800" {{if eq $v.Down 204800}} selected="selected" {{end}}>
                200M</option>                <option value="307200"{{if eq $v.Down 307200}} selected="selected" {{end}}>
                300M</option>                <option value="409600"{{if eq $v.Down 409600}} selected="selected" {{end}}>
                400M</option>                <option value="512000" {{if eq $v.Down 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <input type="hidden" name="ports" id="ports_{{$v.Port}}" value="{{$v.Port}}">
    <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

</div>
{{set $found 1}}
{{end}}

{{if eq $k $ttt}}
{{if cmp $found 0}}
<div class="form-group">


    <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN{{$v.Port}}口</label>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
            <option value="0">
                不限速</option>                <option value="1024"{{if eq $v.Up 1024}} selected="selected" {{end}}>
                1M</option>                <option value="2048"{{if eq $v.Up 2048}} selected="selected" {{end}}>
                2M</option>                <option value="4096"{{if eq $v.Up 4096}} selected="selected" {{end}}>
                4M</option>                <option value="8192"{{if eq $v.Up 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240" {{if eq $v.Up 10240}} selected="selected" {{end}}>
                10M</option>                <option value="15360"{{if eq $v.Up 15360}} selected="selected" {{end}}>
                15M</option>                <option value="20480"{{if eq $v.Up 20480}} selected="selected" {{end}}>
                20M</option>                <option value="40960"{{if eq $v.Up 40960}} selected="selected" {{end}}>
                40M</option>                <option value="51200"{{if eq $v.Up 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Up 102400}} selected="selected" {{end}}>
                100M</option>                <option value="204800"{{if eq $v.Up 204800}} selected="selected" {{end}}>
                200M</option>                <option value="512000"{{if eq $v.Up 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
            <option value="0">
                不限速</option>                <option value="4096"{{if eq $v.Down 4096}} selected="selected" {{end}}>
                4M</option>                <option value="6144"{{if eq $v.Down 6144}} selected="selected" {{end}}>
                6M</option>                <option value="8192"{{if eq $v.Down 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240"{{if eq $v.Down 10240}} selected="selected" {{end}}>
                10M</option>                <option value="12288"{{if eq $v.Down 12288}} selected="selected" {{end}}>
                12M</option>                <option value="20480"{{if eq $v.Down 20480}} selected="selected" {{end}}>
                20M</option>                <option value="51200"{{if eq $v.Down 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Down 102400}} selected="selected" {{end}}>
                100M</option>                <option value="153600"{{if eq $v.Down 153600}} selected="selected" {{end}}>
                150M</option>                <option value="204800" {{if eq $v.Down 204800}} selected="selected" {{end}}>
                200M</option>                <option value="307200"{{if eq $v.Down 307200}} selected="selected" {{end}}>
                300M</option>                <option value="409600"{{if eq $v.Down 409600}} selected="selected" {{end}}>
                400M</option>                <option value="512000" {{if eq $v.Down 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <input type="hidden" name="ports" id="ports_0" value="0">
    <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

</div>
{{end}}
{{end}}


{{end}}

{{range $k, $v := .WanQos}}

{{if eq $v.Port eq 4}}
<div class="form-group">


    <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN{{$v.Port}}口</label>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
            <option value="0">
                不限速</option>                <option value="1024"{{if eq $v.Up 1024}} selected="selected" {{end}}>
                1M</option>                <option value="2048"{{if eq $v.Up 2048}} selected="selected" {{end}}>
                2M</option>                <option value="4096"{{if eq $v.Up 4096}} selected="selected" {{end}}>
                4M</option>                <option value="8192"{{if eq $v.Up 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240" {{if eq $v.Up 10240}} selected="selected" {{end}}>
                10M</option>                <option value="15360"{{if eq $v.Up 15360}} selected="selected" {{end}}>
                15M</option>                <option value="20480"{{if eq $v.Up 20480}} selected="selected" {{end}}>
                20M</option>                <option value="40960"{{if eq $v.Up 40960}} selected="selected" {{end}}>
                40M</option>                <option value="51200"{{if eq $v.Up 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Up 102400}} selected="selected" {{end}}>
                100M</option>                <option value="204800"{{if eq $v.Up 204800}} selected="selected" {{end}}>
                200M</option>                <option value="512000"{{if eq $v.Up 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
            <option value="0">
                不限速</option>                <option value="4096"{{if eq $v.Down 4096}} selected="selected" {{end}}>
                4M</option>                <option value="6144"{{if eq $v.Down 6144}} selected="selected" {{end}}>
                6M</option>                <option value="8192"{{if eq $v.Down 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240"{{if eq $v.Down 10240}} selected="selected" {{end}}>
                10M</option>                <option value="12288"{{if eq $v.Down 12288}} selected="selected" {{end}}>
                12M</option>                <option value="20480"{{if eq $v.Down 20480}} selected="selected" {{end}}>
                20M</option>                <option value="51200"{{if eq $v.Down 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Down 102400}} selected="selected" {{end}}>
                100M</option>                <option value="153600"{{if eq $v.Down 153600}} selected="selected" {{end}}>
                150M</option>                <option value="204800" {{if eq $v.Down 204800}} selected="selected" {{end}}>
                200M</option>                <option value="307200"{{if eq $v.Down 307200}} selected="selected" {{end}}>
                300M</option>                <option value="409600"{{if eq $v.Down 409600}} selected="selected" {{end}}>
                400M</option>                <option value="512000" {{if eq $v.Down 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <input type="hidden" name="ports" id="ports_{{$v.Port}}" value="{{$v.Port}}">
    <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

</div>
{{set $found 1}}
{{end}}

{{if eq $k $ttt}}
{{if cmp $found 0}}
<div class="form-group">


    <label class="col-lg-4 col-sm-4 col-xs-12 control-label">WAN{{$v.Port}}口</label>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="txRates" class="form-control select2"><option value="-1">--上行带宽--</option>
            <option value="0">
                不限速</option>                <option value="1024"{{if eq $v.Up 1024}} selected="selected" {{end}}>
                1M</option>                <option value="2048"{{if eq $v.Up 2048}} selected="selected" {{end}}>
                2M</option>                <option value="4096"{{if eq $v.Up 4096}} selected="selected" {{end}}>
                4M</option>                <option value="8192"{{if eq $v.Up 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240" {{if eq $v.Up 10240}} selected="selected" {{end}}>
                10M</option>                <option value="15360"{{if eq $v.Up 15360}} selected="selected" {{end}}>
                15M</option>                <option value="20480"{{if eq $v.Up 20480}} selected="selected" {{end}}>
                20M</option>                <option value="40960"{{if eq $v.Up 40960}} selected="selected" {{end}}>
                40M</option>                <option value="51200"{{if eq $v.Up 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Up 102400}} selected="selected" {{end}}>
                100M</option>                <option value="204800"{{if eq $v.Up 204800}} selected="selected" {{end}}>
                200M</option>                <option value="512000"{{if eq $v.Up 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <div class="col-lg-2 col-sm-2 col-xs-12">
        <select name="rxRates" class="form-control select2"><option value="-1">--下行带宽--</option>
            <option value="0">
                不限速</option>                <option value="4096"{{if eq $v.Down 4096}} selected="selected" {{end}}>
                4M</option>                <option value="6144"{{if eq $v.Down 6144}} selected="selected" {{end}}>
                6M</option>                <option value="8192"{{if eq $v.Down 8192}} selected="selected" {{end}}>
                8M</option>                <option value="10240"{{if eq $v.Down 10240}} selected="selected" {{end}}>
                10M</option>                <option value="12288"{{if eq $v.Down 12288}} selected="selected" {{end}}>
                12M</option>                <option value="20480"{{if eq $v.Down 20480}} selected="selected" {{end}}>
                20M</option>                <option value="51200"{{if eq $v.Down 51200}} selected="selected" {{end}}>
                50M</option>                <option value="102400"{{if eq $v.Down 102400}} selected="selected" {{end}}>
                100M</option>                <option value="153600"{{if eq $v.Down 153600}} selected="selected" {{end}}>
                150M</option>                <option value="204800" {{if eq $v.Down 204800}} selected="selected" {{end}}>
                200M</option>                <option value="307200"{{if eq $v.Down 307200}} selected="selected" {{end}}>
                300M</option>                <option value="409600"{{if eq $v.Down 409600}} selected="selected" {{end}}>
                400M</option>                <option value="512000" {{if eq $v.Down 512000}} selected="selected" {{end}}>
                500M</option></select>                </div>
    <input type="hidden" name="ports" id="ports_0" value="0">
    <span class="text-danger col-lg-4 col-sm-4 col-xs-12">上行默认值：8M | 下行默认值：100M </span>

</div>
{{end}}
{{end}}


{{end}}